.radius_clear {float:left;clear:both;width:100%;height:1px;}
.rad_search_box, .rad_search_box * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.rad_search_box {float:left;clear:both;width:100%;margin:10px 0;}
.rad_search_box label.radius_text {float:left;clear:both;width:auto!important;font-size:12px;color:#444;margin:0 10px 0 0;line-height:26px;}
.rad_search_box .selector, .rad_search_box input, .rad_search_box>select {text-align:center;float:left;width:50px!important;margin:0!important;padding:5px;clear:none;height:26px;font-size:12px;}
.rad_search_box .selector, .rad_search_box>select {width:100px!important;}
.rad_search_box span.radius_desc {float:left;margin:0 0 0 5px!important;clear:none;width:auto!important;color:#999;font-style:italic;line-height:26px;font-size:12px;}
.rad_search_box .has-placeholder > label {display:none!important;}