#map_radius_here, #map_radius_here * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.radius_locate {float:right;padding:0 5px;font-weight:500;color:#fff;cursor:pointer;font-size:11px;line-height:20px;height:20px;background:#80C74E;margin-left:3px;}
.radius_locate:hover {background:#6DAE3F}
.radius_locate.error, .radius_locate.error:hover {background:#EA3131;}
#map_radius_canvas {float:left;clear:both;}
h2.radius_h2 {float:left;clear:both;width:100%!important;color:#444;font-size:14px;font-weight:bold;margin:15px 0 5px 0;line-height:20px;}
#map_radius_canvas * {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
#radius-list-wrap, #radius-list-wrap * {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
#radius-list-wrap {width:120px;max-width:120px;display:block;height:156px;max-height:156px;overflow:hidden!important;margin:6px -23px 4px 0;}
#radius-list-wrap .radius-list-img-wrap {width:100%;position:relative;float:left;clear:both;margin-bottom:1px;}
#radius-list-wrap .radius-list-img-wrap img {width:100%;float:left;clear:both;width:100%;height:auto;border:1px solid #ddd;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#radius-list-wrap .radius-list-img-wrap img:hover, #radius-list-wrap .radius-list-img-wrap:hover img {border-color:#aaa;}
#radius-list-wrap .radius-list-img-wrap .radius-price {position:absolute;background:#80C74E;color:#fff;font-size:12px;padding:2px 3px;bottom:3px;right:3px;z-index:1;-webkit-border-top-left-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-bottomright: 2px; border-top-left-radius: 2px; border-bottom-right-radius: 2px;}
#radius-list-wrap .radius-list-img-wrap .radius-price .MCtooltip {display:none!important;}
#radius-list-wrap .radius-list-title {font-weight:normal;color:#0069d6;width:100%;height:29px;background:transparent;overflow:hidden;float:left;text-decoration:none;line-height:14px;font-size:13px;padding:0 5px;margin:5px 0;text-align:center;}
#radius-list-wrap .radius-list-title:hover {text-decoration:underline;color:#0051A5;background:transparent;}
#radius-list-wrap .distance-value {float:left;clear:both;width:100%;height:15px;line-height:14px;text-align:center;font-size:12px;color:#444;}
#radius-list-wrap .distance-value.init {font-style:italic;color:#888;cursor:pointer;font-size:11px;}
.gm-style .gm-style-iw, .gm-style .gm-style-iw * {overflow:visible!important;}
.gm-style .gm-style-iw #radius-list-wrap, .gm-style .gm-style-iw #radius-list-wrap .radius-list-title {overflow:hidden!important;}
#map_radius_here {float:left;clear:both;width:100%;margin:12px 0;font-size:12px;line-height:30px;}
#map_radius_here input {float:left;width:80px;padding:0 5px;border:1px solid #ddd;text-align:center;line-height:30px;height:30px;outline:none;}
#map_radius_here .radius-show-before {float:left;margin:0 10px 0 0px;font-style:italic;color:#888;}
#map_radius_here .radius-show-desc {float:left;margin:0 0 0 7px;font-style:italic;color:#888;}
#map_radius_here .radius-show-now.radius_locate {float:left;clear:none;padding:0 5px;font-size:12px;margin:0 0 0 15px;line-height:30px;height:30px;}

