#map_publish_canvas, #selected_loc, #publish-map-top, .radius_publish_locate {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

#map_publish_canvas {float:left;width:100%;display:block;height:200px;clear:both;}
#selected_loc {float:left;width:80%;padding:10px;margin:0;box-shadow:none;border:none;background:transparent;font-size:12px;line-height:18px;}
#publish-map-top {float:left;width:100%;clear:both;position:relative;background:#f0f0f0;}
.radius_publish_locate {position:absolute;top:0;right:0;padding:10px 8px;font-weight:bold;color:#fff;cursor:pointer;font-size:12px;background:#80C74E;z-index:5;}
.radius_publish_locate:hover {background:#6DAE3F}
.radius_publish_locate.error, .radius_publish_locate.error:hover {background:#EA3131;}