body.home .leftlinks {
    list-style: none;
    padding: 0
}

body.home .leftlinks li {
    display: block;
    margin-bottom: 5px
}

body.home .leftlinks li a {
    text-decoration: none
}

body.home .leftlinks li a:hover {
    text-decoration: underline
}

body.home #main {
    margin: 0 0 30px !important
}

body.home #left-sidebar {
    margin-bottom: 30px
}

@media only screen and (min-width: 740px) {
    body.home #left-sidebar {
        width: 18%;
        float: left;
        margin-bottom: 30px
    }
    body.home #main {
        width: 60% !important;
        margin: -20px 2% 0 !important
    }
    body.home #right-sidebar {
        width: 18%
    }
}

#sflinks {
    list-style: none
}

#sflinks a {
    display: block;
    text-decoration: none
}

#sflinks a:hover {
    text-decoration: underline
}

#select-language {
    margin-bottom: 30px
}

#faq-items {
    margin-bottom: 30px
}

#faq-items ul {
    margin: 0
}

.calendar-title {
    margin-bottom: 0
}

.calendar-subtitle {
    line-height: 1 !important;
    margin-bottom: 0;
    font-size: 1em
}

.list-grid .thumb-wrapper {
    display: none
}

.list-grid .listing-card .listing-detail {
    margin-left: 0
}

.listing-grid .thumb-wrapper {
    margin: 0 -6px;
    position: relative;
    overflow: hidden
}

.slick-back,
.slick-forward {
    position: absolute;
    text-align: center;
    font-size: 2em;
    line-height: 2.5em;
    top: 50%;
    left: 0;
    width: .7em;
    color: #ddd;
    z-index: 9999;
    height: 30px;
    width: 30px;
    margin-top: -15px
}

.slick-back:hover,
.slick-forward:hover {
    color: #666;
    cursor: pointer
}

.slick-forward {
    left: auto;
    right: 0
}

.thumb-grid li.listing-card .listing-thumb {
    display: none
}

.thumb-grid li.listing-card .listing-thumb:first-child {
    display: block
}

.nearby-areas-list {
    list-style: none;
    padding-left: 20px
}

.nearby-areas-list li {
    display: block;
    margin-bottom: 10px
}

#custom_calendar_table {
    width: 100%;
    text-align: center
}

#custom_calendar_table tr td {
    height: 30px
}

#custom_calendar_table thead td {
    background-color: #f4f4f4;
    font-weight: bold
}

.fi_make_favorite {
    line-height: 24px
}

.row .checkboxes ul {
    list-style: none;
    padding-left: 20px
}

.btn {
    text-decoration: none;
    padding: 10px;
    background-color: #FAA95A;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    cursor: pointer
}

.btn:hover {
    background-color: #EF6D29
}

.btn-block {
    display: block;
    width: 100%
}

*,
*:before,
*:after {
    box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a {
    color: #000
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a:hover,
a:active {
    outline: 0
}

sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

#map_canvas img {
    max-width: none
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

button,
input {
    *overflow: visible;
    line-height: normal
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

button {
    cursor: pointer;
    -webkit-appearance: button
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

.has-placeholder {
    position: relative;
    display: block;
    float: left
}

.has-placeholder label {
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    color: #646464;
    line-height: 43px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 0 15px;
    text-shadow: 0 1px 0 #ffffff;
    overflow: hidden
}

textarea {
    background-color: #fff;
    border: solid 1px #bfbfbf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    line-height: 1em;
    text-decoration: none;
    padding: 10px;
    box-shadow: inset 0 1px 0 0 #dfd8d8;
    width: 280px
}

div.select-box-focus {
    outline: 0;
    border: 1px solid #FAA95A;
    -webkit-box-shadow: 0 0 5px 1px #FAA95A;
    -moz-box-shadow: 0 0 5px 1px #FAA95A;
    box-shadow: 0 0 5px 1px #FAA95A
}

.select-box {
    z-index: 0;
    position: relative;
    display: inline-block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: auto;
    background-color: #CCCCCD;
    background-color: #CCCCCD;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CCCCCD), color-stop(100%, #CCCCCD));
    background-image: -webkit-linear-gradient(top, #CCCCCD, #CCCCCD);
    background-image: -moz-linear-gradient(top, #CCCCCD, #CCCCCD);
    background-image: -ms-linear-gradient(top, #CCCCCD, #CCCCCD);
    background-image: -o-linear-gradient(top, #CCCCCD, #CCCCCD);
    background-image: linear-gradient(top, #CCCCCD, #CCCCCD);
    border: solid 1px #CCCCCD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    padding: 0px;
    overflow: hidden
}

.select-box .select-box-label {
    height: 16px;
    overflow: hidden;
    display: block;
    line-height: 16px;
    float: left;
    position: absolute;
    top: 0;
    color: #bababa;
    padding: 0px 15px;
    height: 100%;
    color: #646464;
    line-height: 30px;
    text-shadow: 0 1px 0 #ffffff
}

.select-box a:hover {
    text-decoration: none
}

.select-box select {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    z-index: 1003;
    padding-right: 45px
}

.select-box-icon {
    z-index: 0;
    position: absolute;
    right: 13px;
    top: -7px;
    right: 0px;
    height: 100%;
    width: 24px;
    text-decoration: none;
    display: block;
    font-family: "icons";
    color: #404040;
    font-size: 0.8em;
    text-align: left
}

.ui-button {
    background-color: false;
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #c9c9c9));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #c9c9c9);
    background-image: -moz-linear-gradient(top, #f0f0f0, #c9c9c9);
    background-image: -ms-linear-gradient(top, #f0f0f0, #c9c9c9);
    background-image: -o-linear-gradient(top, #f0f0f0, #c9c9c9);
    background-image: linear-gradient(top, #f0f0f0, #c9c9c9);
    border: solid 1px #cacaca;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #5f5f5f !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3)
}

input.ui-button,
button.ui-button {
    padding-left: 10px;
    padding-right: 10px
}

.ui-button-main {
    background-color: #e23b40;
    background-color: #e23b40;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e23b40), color-stop(100%, #e23b40));
    background-image: -webkit-linear-gradient(top, #e23b40, #e23b40);
    background-image: -moz-linear-gradient(top, #e23b40, #e23b40);
    background-image: -ms-linear-gradient(top, #e23b40, #e23b40);
    background-image: -o-linear-gradient(top, #e23b40, #e23b40);
    background-image: linear-gradient(top, #e23b40, #e23b40);
    border: solid 0px #e23b40;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #a0e3ed;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)
}

a.ui-button {
    line-height: 34px
}

.ui-button-middle {
    height: 36px;
    font-size: 1em;
    line-height: 1em
}

.doublebutton {
    float: right
}

.doublebutton a {
    border: solid 1px #d1d1d1;
    background-color: #f7f7f7;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    height: 28px;
    outline: 0;
    padding: 5px 6px;
    display: block;
    float: left
}

.doublebutton a span {
    float: left;
    cursor: pointer
}

.doublebutton a.active {
    background-color: #35C3D9;
    border-color: #23a4b8;
    color: #fff
}

.alert_form {
    background-color: #f2f2f2;
    padding: 15px 10px
}

.alert_form button {
    width: 100%
}

.alert_form input {
    width: 184px;
    margin-bottom: 12px
}

.form-vertical .control-group {
    clear: both;
    margin-bottom: 10px
}

.form-container .controls input,
.form-container .meta input {
    background-color: #fff;
    border: solid 1px #bfbfbf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #dfd8d8;
    width: 280px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 1em
}

.form-container .ui-drop-files {
    width: 280px;
    padding: 0 10px;
    height: 70px;
    text-align: center;
    font-size: 18px;
    line-height: 70px;
    color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.form-container .controls {
    font-size: 1em
}

.form-container .main-button {
    background-color: #35C3D9;
    background-color: #35C3D9;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #35C3D9), color-stop(100%, #18a7be));
    background-image: -webkit-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -moz-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -ms-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -o-linear-gradient(top, #35C3D9, #18a7be);
    background-image: linear-gradient(top, #35C3D9, #18a7be);
    border: solid 1px #1f91a3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #a0e3ed;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)
}

.form-container .checkbox input {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-top: -2px;
    padding: 0;
    border: none;
    box-shadow: none
}

input[type="checkbox"] {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-top: -2px;
    padding: 0;
    border: none;
    box-shadow: none
}

.form-container .meta input[type="checkbox"],
.form-container .controls input[type="checkbox"] {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-top: 10px;
	margin-left: 10px;
    padding: 0;
    border: none;
    box-shadow: none
}

input[type="radio"] {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-top: -2px;
    padding: 0;
    border: none;
    box-shadow: none
}

.form-container .meta input[type="radio"],
.form-container .controls input[type="radio"] {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-top: -2px;
    padding: 0;
    border: none;
    box-shadow: none
}

.meta_list .meta ul {
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
    float: left
}

.meta_list .meta ul li {
    clear: both;
    list-style: none
}

.meta_list .meta ul li label {
    width: auto;
    margin-left: 5px;
    float: none
}

.meta_list .meta input[type="checkbox"] {
    margin-top: 10px
}

.meta_list .meta .cf_date_interval {
    width: 100px
}

.meta_list .meta:after {
    content: "";
    clear: both
}

.form-container .checkbox {
    margin-bottom: 5px
}

.form-container .checkbox label {
    font-size: 0.85em
}

.form-horizontal .actions {
    border-top: solid 1px #eaeaea;
    padding: 10px 10px 15px 155px;
    margin: 0 25px
}

.form-horizontal .actions a {
    font-size: 0.725em
}

.form-horizontal label {
    float: left;
    width: 160px;
    padding-top: 7px;
    text-align: right;
    font-size: 0.85em
}

.form-horizontal .select-box {
    width: 300px
}

.form-horizontal .controls {
    margin-left: 180px;
    line-height: 32px
}

.form-horizontal .controls label {
    float: left;
    width: auto;
    padding-top: 0;
    text-align: left
}

.form-horizontal .control-group,
.form-horizontal .meta_list .meta {
    clear: both;
    margin-bottom: 10px
}

.form-container-box {
    border: solid 1px #eaeaea;
    margin: 0 auto;
    width: 700px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.form-container-box .header {
    background-color: #EFEFEF;
    padding: 10px 15px;
    margin-bottom: 30px
}

.form-container-box .header h1 {
    margin: 0;
    line-height: 1.2em
}

body.item-post .select-box {
    margin-bottom: 10px
}

#item-post select {
    width: 300px
}

.form-container .photos input {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: none
}

.photos_div {
    margin-bottom: 20px
}

.form-container .controls #photos a {
    font-size: 12px !important
}

button {
    background-color: false;
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #c9c9c9));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #c9c9c9);
    background-image: -moz-linear-gradient(top, #f0f0f0, #c9c9c9);
    background-image: -ms-linear-gradient(top, #f0f0f0, #c9c9c9);
    background-image: -o-linear-gradient(top, #f0f0f0, #c9c9c9);
    background-image: linear-gradient(top, #f0f0f0, #c9c9c9);
    border: solid 1px #cacaca;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #5f5f5f !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3)
}

.ui-drop-files {
    box-shadow: none;
    border: 4px dashed rgba(0, 0, 0, 0.2);
    height: 100px;
    background: rgba(0, 0, 0, 0.1)
}

.bordered-box {
    border: solid 1px #eaeaea;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
    font-size: 0.75em
}

.bordered-box h2 {
    font-size: 1.2em;
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold
}

.form-container .photos input {
    width: 100%
}

.form-container .photos img {
    width: 120px
}

.photos_div a {
    display: block
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #35C3D9
}

.hover .arrow-up {
    border-bottom-color: white
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FAA95A
}

.hover .arrow-down {
    border-top-color: white
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #35C3D9
}

.hover .arrow-left {
    border-right-color: white
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #35C3D9
}

.hover .arrow-right {
    border-left-color: white
}

.paginate {
    padding: 25px;
    text-align: center;
    clear: both
}

.paginate li {
    display: inline;
    list-style-type: none
}

.paginate a,
.paginate span {
    text-decoration: none;
    margin: 0 1px;
    padding: 5px 10px;
    border: 1px solid #EEE;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.paginate a.previous {
    margin-right: 15px
}

.paginate a.next {
    margin-left: 15px
}

.paginate strong {
    border: 1px solid #EEE;
    color: #F30;
    margin: 0 1px;
    padding: 5px 10px
}

.paginate em {
    border: 1px solid #EEE;
    color: #AAA;
    font-style: normal;
    margin: 0 1px;
    padding: 5px 10px;
    text-decoration: none
}

.paginate em.previous {
    margin-right: 15px
}

.paginate em.next {
    margin-left: 15px
}

.searchPaginationSelected,
.paginate a:hover {
    font-weight: bold;
    background-color: #35C3D9;
    color: white
}

.see_by {
    float: right;
    border: solid 1px #D1D1D1;
    background-color: #F7F7F7;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    height: 28px;
    outline: 0;
    padding: 5px 6px;
    display: block;
    margin-right: 10px;
    position: relative
}

.see_by span {
    float: left
}

.see_by label {
    float: right;
    margin: 0;
    padding: 0 18px 0 5px;
    color: #FAA95A
}

.see_by ul {
    position: absolute;
    right: -1px;
    margin: 22px 0 0;
    padding: 8px 10px;
    list-style: none;
    text-align: right;
    background-color: #FAA95A;
    border: solid 1px #FAA95A;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none
}

.see_by ul a {
    font-size: 1em;
    font-weight: 500;
    color: #fff
}

.see_by .arrow-up,
.see_by .arrow-down,
.see_by .arrow-right,
.see_by .arrow-left {
    position: absolute;
    right: 6px;
    top: 11px
}

.full_see_by {
    width: 100%;
    height: 30px;
    display: block;
    float: none;
    text-align: left
}

.full_see_by label {
    float: none
}

.full_see_by ul {
    padding: 8px 0px;
    width: 100%;
    margin-top: 5px;
    text-align: left;
    z-index: 99
}

.full_see_by ul li {
    padding: 0 10px
}

.full_see_by ul li a {
    display: block
}

.arrow-envelope {
    position: absolute;
    right: -1px;
    top: -1px
}

.hover .arrow-envelope {
    background-color: #FAA95A;
    border: solid 1px #FAA95A;
    width: 21px;
    height: 28px;
    border-bottom: none;
    z-index: 3
}

.hover ul {
    display: block
}

.wrapper-flash {
    font-weight: bold
}

.flashmessage {
    font-size: 14px;
    padding: 15px 0;
    width: 100%;
    top: 10px;
    z-index: 999;
    text-align: center;
    color: #ffffff;
    position: relative
}

.flashmessage-warning,
.help-box {
    background-color: #d0a52a;
    border: solid 1px #93741e
}

.flashmessage-error {
    background-color: #c44e20;
    border: solid 1px #873616
}

.flashmessage-ok {
	//changed for wechat.com green
    background-color: #09B507;
    border: solid 1px #4f5e29
}

.flashmessage-info {
    background-color: #30a0ef;
    border: solid 1px #2477b2
}

.help-box {
    padding: 5px 10px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.flashmessage .ico-close {
    position: absolute;
    top: 5px;
    right: 17px;
    float: right;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-shadow: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer
}

.flashmessage-error .close {
	color: white;
    font-weight: bold;
    padding-left: 15px;
}

.flashmessage-warning .close {
    color: #C09853
}

.flashmessage-success .close,
.flashmessage-information .close {
    color: #3A87AD
}

#error_list,
.error_list {
    background-color: #F2DEDE;
    border: solid 2px #EED3D7;
    color: #B94A48;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
    list-style: none;
    display: none;
    margin: 0 10px 20px
}

#error_list li,
.error_list li {
    list-style: none;
    padding: 2px 0 2px 18px
}

#error_list li label,
.error_list li label {
    margin-top: 0;
    float: none;
    width: auto
}

.user-card {
    background-color: #f7f7f7;
    position: relative;
    padding-left: 120px;
    height: 120px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 25px
}

.user-card ul {
    padding: 15px;
    margin: 0;
    list-style: none
}

.user-card .name {
    font-size: 1.5em;
    margin-bottom: 15px
}

.user-card .website,
.user-card .location,
.user-card .adress {
    font-size: 0.725em
}

.user-card img {
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 120px
}

@font-face {
    font-family: "Osclass";
    font-weight: normal;
    src: url("../fonts/osclass-regular.woff")
}

@font-face {
    font-family: "Osclass";
    font-weight: 100;
    src: url("../fonts/osclass-extra-light.woff")
}

@font-face {
    font-family: "icons";
    src: url("../fonts/icons.eot");
    src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#untitledregular") format("svg");
    font-weight: normal;
    font-style: normal
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 100%;
    line-height: 1.125em;
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, Verdana, sans-serif;
    color: #404040
}

.icons {
    font-size: 32px;
    line-height: 32px
}

.icons:after {
    display: inline-block;
    font-family: "icons"
}

.ico-search:after {
    content: "s"
}

.ico-menu:after {
    content: "m"
}

.ico-grid:after {
    content: "g"
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333
}

.wrapper {
    width: 980px;
	@media only screen and (max-width: 768px){
		width:100%;
		padding:20px;
	}
    margin-left: auto;
    margin-right: auto
}

#responsive-trigger {
    display: none
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    font-family: "Osclass";
    color: #000;
    letter-spacing: -0.03em;
    line-height: 1em;
    margin-top: 0
}

h1 {
    font-size: 2.2em
}

h2 {
    font-size: 1.8em
}

h3 {
    font-size: 1.5em
}

h4 {
    font-size: 1.3em
}

h5 {
    font-size: 1.15em
}

.clear {
    clear: both
}

body.search #right-sidebar,
body.user #right-sidebar {
    float: left;
    //width: 210px
	width : 180px;
	.row.price-slice{
		input{
			width : 52px !important;
		}
	}
}

body.search #main,
body.user #main {
    float: right;
    width: 728px
}

.resp-toogle {
    display: none
}

.title-has-actions {
    border-bottom: solid 1px #eaeaea;
    margin-bottom: 10px
}

.title-has-actions h1,
.title-has-actions h2,
.title-has-actions h3 {
    float: left;
    margin-bottom: 0
}

.title-has-actions a {
    float: left;
    margin-left: 10px;
    font-size: 0.825em;
    line-height: 2em
}

.flashmessage-404 {
    background-color: #FCF8E3;
    border: solid 1px #FBEED5;
    color: #C09853;
    border-radius: 5px;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px 15px;
    margin-top: 25px
}

.flashmessage-404 ul {
    list-style: disc;
    padding: 10px 0px 10px 25px
}

body.not-found .categories {
    margin-top: 10px
}

body.not-found .categories h2,
body.not-found .categories h3 {
    float: left;
    width: 25%;
    font-size: 13px;
    font-weight: normal;
    margin: 3px 0
}

body.not-found fieldset.main {
    padding: 10px 0
}

body.not-found #uniform-sCategory {
    display: none
}

body.not-found h1 {
    font-size: 24px;
    margin-bottom: 20px
}

body.not-found #query {
    background-color: #fff;
    border: solid 1px #bfbfbf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #dfd8d8;
    width: 280px;
    padding: 0 10px;
    height: 34px;
    line-height: 30px;
    font-size: 1em
}

.ads_300,
.ads_728,
.ads_468 {
    background-color: #FDF6E5;
    display: block;
    margin: 15px 0
}

.ads_300 {
    width: 300px;
    min-height: 250px
}

.ads_728 {
    width: 728px;
    min-height: 90px
}

.ads_468 {
    width: 468px;
    min-height: 60px
}

#footer {
    background-color: #BD77E2;
    clear: both;
    margin-top: 50px;
    padding-bottom: 30px;
    border-top: solid 1px #eaeaea;
    padding-top: 15px;
    font-size: 0.725em;
    text-align: center
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer p {
    color: white;
}

#footer a:hover {
    text-decoration: underline
}

#footer li {
    display: inline;
    margin-left: 10px
}

.footer-links,
#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both
}

.footer-links li {
    float: left;
    width: 31%;
    padding-right: 2%;
    margin-bottom: 5px;
    font-size: 0.725em
}

#footer .resp-toogle .publish {
    padding: 0;
    margin: 15px 0;
    display: block
}

#footer .resp-toogle .publish a {
    background-color: #d94b35;
    background-color: #d94b35;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d94b35), color-stop(100%, #be2e18));
    background-image: -webkit-linear-gradient(top, #d94b35, #be2e18);
    background-image: -moz-linear-gradient(top, #d94b35, #be2e18);
    background-image: -ms-linear-gradient(top, #d94b35, #be2e18);
    background-image: -o-linear-gradient(top, #d94b35, #be2e18);
    background-image: linear-gradient(top, #d94b35, #be2e18);
    border: solid 1px #a3301f;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #edaba0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-size: 1.2em;
    padding: 0
}

#header {
    background-color: #BD77E2;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 25px
}

#header .wrapper {
    position: relative
}

#header .ads_header {
    width: 728px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px 0px
}

#header #logo {
    color: #fff;
    font-family: "Osclass";
    border: none;
    font-size: 2.7em;
    line-height: 1.5em;
    padding-top: 20px;
    padding-bottom: 10px;
}

#header #logo a {
    font-size: 1.5em;
    line-height: 0.8em;
    font-weight: bold;
    text-decoration: none;
    color: #fff
}

#header #logo .banner {
    font-size: 1.5em;
    line-height: 0.8em;
    font-weight: bold;
    text-decoration: none;
    color: #fff
}

#header .publish a {
    background-color: #F88B5E;
    background-color: #F88B5E;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F88B5E), color-stop(100%, #F88B5E));
    background-image: -webkit-linear-gradient(top, #F88B5E, #F88B5E);
    background-image: -moz-linear-gradient(top, #F88B5E, #F88B5E);
    background-image: -ms-linear-gradient(top, #F88B5E, #F88B5E);
    background-image: -o-linear-gradient(top, #F88B5E, #F88B5E);
    background-image: linear-gradient(top, #F88B5E, #F88B5E);
    border: solid 1px #F88B5E;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #e9988b;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3)
}

#header #logo span {
    color: #efe256;
    font-family: "Osclass";
    text-decoration: none;
    border: none;
    font-size: 0.8em;
    line-height: 1em;
    display: block
}

.main-search {
    background-color: #E8E8E8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8E8E8), color-stop(100%, #E8E8E8));
    background-image: -webkit-linear-gradient(top, #E8E8E8, #E8E8E8);
    background-image: -moz-linear-gradient(top, #E8E8E8, #E8E8E8);
    background-image: -ms-linear-gradient(top, #E8E8E8, #E8E8E8);
    background-image: -o-linear-gradient(top, #E8E8E8, #E8E8E8);
    background-image: linear-gradient(top, #E8E8E8, #E8E8E8);
    width: 966px;
    padding: 6px;
    height: 56px;
    border: solid 1px #E8E8E8;
    margin: 0 auto;
    box-shadow: inset 0px 1px 1px 0px #fff, 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.main-search .has-placeholder {
    float: none
}

.main-search input {
    background-color: #f6f6f6;
    border: solid 1px #bfbfbf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #d6cece;
    height: 43px;
    width: 100%
}

.main-search .selector {
    padding-left: 42px;
    padding-right: 12px
}

.main-search .reset-padding {
    padding-left: 0px
}

.main-search .ui-button {
    background-color: #FAA95A;
    background-color: #FAA95A;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAA95A), color-stop(100%, #FAA95A));
    background-image: -webkit-linear-gradient(top, #FAA95A, #FAA95A);
    background-image: -moz-linear-gradient(top, #FAA95A, #FAA95A);
    background-image: -ms-linear-gradient(top, #FAA95A, #FAA95A);
    background-image: -o-linear-gradient(top, #FAA95A, #FAA95A);
    background-image: linear-gradient(top, #FAA95A, #FAA95A);
    border: solid 1px #FAA95A;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #a0e3ed;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    height: 43px;
    min-width: 100px
}

.main-search .cell {
    display: table-cell;
    width: 100%;
    vertical-align: top
}

#header .nav {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 0;
    margin: 0;
    list-style: none
}

#header .nav li {
    float: left;
    position: relative;
    color: white
}

#header .nav li.search,
#header .nav li.cat {
    display: none
}

#header .nav li a,
#header .nav li span {
    color: white;
    font-size: 0.875em
}

#header .nav li a {
    margin-left: 10px
}

#header .nav li.publish {
    clear: both;
    float: right;
    margin-top: 10px
}

.main-search .select-box .select-box-label {
    line-height: 43px
}

.main-search .select-box select {
    width: auto;
    height: 42px
}

.main-search .select-box-icon {
    top: 0px
}

.wrapper-flash {
    margin-bottom: 35px
}

div.breadcrumb {
    line-height: 1.05em;
    font-size: 0.75em;
    height: auto;
    margin: 0;
    width: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea
}

ul.breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0
}

ul.breadcrumb li {
    float: left;
    padding: 0 2px;
    font-weight: normal
}

.r-list {
    display: none;
    margin: 0px 40px 0 0;
    padding: 0;
    list-style: none
}

.latest_ads {
    padding-top: 25px
}

.latest_ads h1 {
    float: left
}

.latest_ads .actions {
    float: right;
    margin-top: 5px
}

body.home .r-list {
    display: block
}

body.home #main {
    width: 640px;
    float: left;
    margin: -20px 40px 0 0
}

.tbl {
    display: block;
    width: 100%
}

div.first_cel ul {
    margin: 0
}

.cell_3 {
    width: 33%;
    float: left
}

.cell_3 ul {
    margin: 0;
    margin-left: 20px
}

.r-list li {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis
}

.r-list li .r-list li li {
    float: none;
    width: 100%
}

.r-list li>li:nth-child(4n),
.r-list li .clear {
    clear: both
}

ul.r-list li h1 {
    margin: 25px 0 10px 0;
    padding: 0;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis
}

ul.r-list li h1 a {
    font-size: 1em;
    color: #35C3D9;
}

ul.r-list li h1 span {
    font-weight: normal
}

ul.r-list li a,
ul.r-list li span {
    text-decoration: none;
    font-size: 0.8125em
}

ul.r-list li ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.list-header {
    margin-bottom: 15px;
    z-index: 9999; //fix dropdown
    position: relative
}

.listing-card-list {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both
}

.see_more_link {
    clear: both
}

.counter-search {
    float: left;
    line-height: 32px
}

#main h5 {
    margin-bottom: 10px
}

#related-searches {
    padding-top: 25px
}

#related-searches h5 {
    margin-bottom: 10px;
    font-size: 1em
}

.listing-card {
    clear: both;
    padding: 10px 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #ECECEC;
    position: relative;
    width: 100%;
    display: table
}

.listing-card .listing-basicinfo {
    display: block;
    vertical-align: top;
    width: auto
}

.listing-card .listing-attributes {
    display: block;
    vertical-align: top;
    width: auto;
    width: auto
}

.listing-card .currency-value {
    white-space: nowrap;
    font-weight: bold;
    color: #78c042
}

.listing-card .listing-data {
    display: table-row;
    width: 100%
}

.listing-card .listing-detail {
    width: auto;
    margin-left: 105px
}

.listing-card .listing-cell {
    display: table;
    width: 100%
}

.listing-card .listing-thumb {
    float: left
}

.listing-card .listing-thumb img {
    height: 85px;
    width: 95px
}

.listing-card .listing-attributes {
    font-size: 0.78em;
    color: #777;
    padding: 4px 0 8px;
    line-height: 1em
}

.listing-card .listing-attributes a {
    color: #777;
    font-weight: bold;
    text-decoration: none
}

.listing-card .listing-attributes a:hover {
    text-decoration: underline
}

.premium-list li.listing-card,
li.listing-card.premium {
    background-color: #FCFCD7
}

.listing-grid .last {
    margin-right: 0px
}

.listing-grid .listing-card {
    float: left;
    width: 190px;
    padding: 6px;
    background-color: #FFF;
    border: 1px solid #ECECEC;
    margin: 0 9px 9px 0;
    position: relative;
    display: block;
    clear: none
}

.listing-grid .listing-card .listing-attributes .location {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.listing-grid .listing-card .listing-attributes .location a {
    display: inline
}

.listing-grid .listing-card img {
    width: 100%;
    height: auto;
    float: none
}

.listing-grid .currency-value {
    display: block
}

.listing-grid .listing-detail {
    margin-left: 0
}

.listing-grid .listing-basicinfo,
.listing-grid .listing-data {
    width: 100%;
    display: block
}

.listing-grid .listing-thumb {
    width: 100%
}

.listing-grid .listing-cell {
    display: block
}

.listing-grid .listing-basicinfo p {
    display: none
}

.listing-grid .listing-basicinfo a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block
}

.listing-grid .g-hide {
    display: none
}

body.search .listing-grid .last {
    margin-right: 0px
}

body.search .listing-grid .listing-card {
    width: 161px
}

body.home .listing-grid .first {
    clear: both
}

#right-sidebar {
    width: 300px;
    float: right
}

#right-sidebar fieldset {
    margin: 0;
    padding: 0;
    border: none
}

#right-sidebar h3 {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1em;
    font-size: 1em
}

#right-sidebar fieldset {
    padding: 14px 0 16px;
    border-bottom: solid 1px #eaeaea;
    font-size: 0.8125em;
    line-height: 0.8125em
}

#right-sidebar input {
    vertical-align: bottom
}

#right-sidebar .input-text,
#right-sidebar input[type="text"] {
    background-color: #fff;
    border: solid 1px #bfbfbf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #dfd8d8;
    width: 100%;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

#right-sidebar ul.category {
    padding: 0;
    margin: 0;
    list-style: none
}

#right-sidebar ul.category ul {
    padding: 0;
    margin: 0;
    list-style: none
}

ul.sidebar-list,
ul.user_menu {
    padding: 0;
    margin: 0;
    list-style: none
}

body.user #right-sidebar {
    border-right: solid 1px #eaeaea
}

#right-sidebar ul.category li {
    padding: 3px 0;
    line-height: 1.15em
}

ul.sidebar-list li {
    padding: 3px 0;
    line-height: 1.15em
}

ul.user_menu li {
    padding: 3px 0;
    line-height: 1.15em;
    padding: 0 0 12px;
    font-size: 0.8125em;
    line-height: 0.8125em
}

#right-sidebar ul.category ul {
    padding-left: 15px
}

#right-sidebar .show-sub a {
    font-weight: bold
}

#right-sidebar .show-sub li a {
    font-weight: normal
}

#right-sidebar .price-slice input {
    width: 65px;
    padding: 0 5px;
    margin-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#right-sidebar .two_input input {
    width: 65px;
    padding: 0 5px;
    margin-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70px
}

#right-sidebar .price-slice span {
    margin-right: 0px
}

#right-sidebar button {
    background-color: #35C3D9;
    background-color: #35C3D9;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #35C3D9), color-stop(100%, #18a7be));
    background-image: -webkit-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -moz-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -ms-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -o-linear-gradient(top, #35C3D9, #18a7be);
    background-image: linear-gradient(top, #35C3D9, #18a7be);
    border: solid 1px #1f91a3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #a0e3ed;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    line-height: 30px;
    font-size: 0.85em
}

#right-sidebar .actions {
    padding: 20px 0
}

#right-sidebar .plugin-hooks h6 {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    font-family: "Osclass";
    color: #666
}

#right-sidebar .plugin-hooks .row {
    margin-bottom: 10px
}

#right-sidebar .select-box {
    width: 100%
}

#right-sidebar a {
    text-decoration: none
}

#right-sidebar a:hover {
    text-decoration: underline
}

.widget-box {
    background-color: #E8E8E8;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
}

.widget-box h3 {
    margin: 0
}

.widget-box ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.widget-box li a {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-weight: normal;
    font-size: 0.8125em;
    display: block;
    padding: 4px 5px;
    border-radius: 0px;
    margin: -1px 0;
    position: relative;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #fff
}

.widget-box li li a:hover {
    background-color: #8bdce9;
    border-color: #f7f7f7;
    color: #fff;
    z-index: 2;
    border-radius: 3px
}

body.item #right-sidebar .widget-box,
body.user-public-profile #right-sidebar .widget-box {
    padding: 20px
}

body.item #right-sidebar .form-container .controls input,
body.item #right-sidebar .form-container .controls textarea {
    width: 238px
}

body.user-public-profile #right-sidebar .form-container .controls input,
body.user-public-profile #right-sidebar .form-container .controls textarea {
    width: 238px
}

body.item #right-sidebar .form-container label,
body.user-public-profile #right-sidebar .form-container label {
    font-size: 0.75em
}

body.item #contact h2,
body.user-public-profile #contact h2 {
    margin-top: 0px
}

body.item #main,
body.user-public-profile #main {
    width: 640px;
    float: left
}

.item-photos .main-photo {
    width: 550px;
    float: left
}

.item-photos .thumbs {
    float: right;
    width: 79px
}

.item-photos .thumbs img {
    margin-bottom: 12px;
    border: solid 2px #eaeaea
}

.item-header {
    margin-top: -10px;
    background: #f7f7f7;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 0.875em;
    margin-bottom: 15px;
    font-size: 0.75em
}

.item-header #type_dates {
    float: right
}

.item-header #type_dates em {
    font-style: normal
}

#item_location {
    list-style: none;
    margin: 0;
    padding: 0
}

#item_location li {
    display: inline
}

#description {
    clear: both;
    padding-top: 5px;
	//fix issue in description item.php
    word-wrap: break-word;
}

div.mark_as {
    height: 32px;
    width: 100%;
    border: none;
    background: transparent;
    margin-bottom: 15px
}

.mark_as a {
    width: 100%;
    height: auto;
    display: block;
    top: 0;
    left: 0;
    position: absolute
}

.mark_as .select-box-label {
    border: solid 1px #f2f2f2;
    position: relative;
    float: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #f7f7f7
}

.similar_ads h2 {
    margin-top: 35px
}

.admin-options {
    font-size: 0.725em
}

.admin-options a {
    margin: 0 5px
}

#comments {
    margin-top: 25px
}

body.item h1 .price {
    font-weight: normal;
    font-size: 24px;
    float: right;
    background-color: #FCF8E3;
    padding: 5px 10px
}

.item #comments {
    clear: both;
    float: left;
    margin-bottom: 35px;
    width: 100%
}

.item #comments h3 {
    font-size: 1em
}

.item #comments .comments_list {
    border-bottom: 1px dotted #DDD;
    margin-bottom: 20px
}

.item #comments .comment {
    background: url(../images/comments_quotes.gif) no-repeat 10px 0;
    margin-bottom: 15px;
    padding: 7px 0 0 60px
}

.item #comments .comment h3 {
    color: #666;
    margin-bottom: 5px
}

.item #comments .comment h3 em {
    color: #888;
    font-size: 12px;
    font-weight: normal
}

.item #comments .comment p {
    color: #878787;
    font-style: italic;
    line-height: 18px
}

.item #comments .pagination {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 15px
}

.item #comments .pagination a {
    border: 1px dotted #AAA;
    padding: 5px 8px
}

.item #comments .pagination a.searchPaginationSelected {
    background-color: #f7f7f7
}

.item #comments .pagination a.searchPaginationNext {
    border: 0px;
    text-decoration: none
}

.item #comments a.searchPaginationPrev,
.item #comments .pagination a.searchPaginationFirst,
.item #comments a.searchPaginationLast {
    border: 0px;
    text-decoration: none
}

.item #comments .pagination a.searchPaginationNext:hover,
.item #comments a.searchPaginationPrev:hover,
.item #comments .pagination a.searchPaginationFirst:hover {
    background-color: #ffffff
}

.item #comments a.searchPaginationLast:hover {
    background-color: #ffffff
}

.item #comments a:hover {
    background-color: #f7f7f7
}

#sflinks {
    padding-left: 0
}

#left-sidebar li,
#sflinks li {
    margin-bottom: 10px
}

@media only screen and (max-width: 740px) {
    #left-sidebar li,
    .location li {
        text-align: center
    }
    .main-search {
        display: block !important;
        padding: 20px !important;
        position: static !important;
        height: 100% !important
    }
    .main-search .cell {
        padding: 0 !important;
        display: block !important;
        margin-bottom: 10px;
        width: 100%
    }
    .main-search .cell:last-child {
        margin-bottom: 0
    }
    .see_by {
        float: none;
        display: block;
        margin: 10px 0
    }
    .wrapper,
    #footer {
        padding-left: 10px;
        padding-right: 10px;
        width: auto
    }
    .has-placeholder {
        float: none
    }
    div#main {
        width: auto;
        float: none;
        clear: both
    }
    body.home #main,
    body.search #main,
    body.user #main,
    body.item #main,
    body.user-public-profile #main {
        width: auto;
        float: none;
        clear: both
    }
    #responsive-trigger {
        display: block
    }
    #right-sidebar {
        width: 100%
    }
    #header {
        padding-bottom: 0px
    }
    #footer {
        text-align: center
    }
    #footer ul {
        float: none;
        font-size: 1.15em;
        margin-bottom: 15px
    }
    .flashmessage {
        padding: 15px 40px 15px 15px;
        width: auto
    }
    .contact_button a {
        margin-bottom: 10px
    }
    div#recaptcha_widget {
        width: 100% !important
    }
    div#recaptcha_image {
        width: 100% !important;
        height: auto !important
    }
    div#recaptcha_image>img {
        width: 100% !important
    }
    #header {
        height: auto;
        margin-bottom: 20px
    }
    #header #logo {
        font-size: 1.7em;
        letter-spacing: -0.07em;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10px;
    }
    #header #logo span {
        display: none
    }
    #header .wrapper {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        position: relative
    }
    .main-search {
        top: 100%;
        margin-left: 0;
        left: 0;
        position: absolute;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        border-width: 0 0 1px 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: none;
        position: absolute;
        margin-top: 0
    }
    .main-search .cell {
        display: table-cell;
        width: 100%;
        padding-left: 11px;
        vertical-align: top
    }
    .main-search .cell:last-child {
        padding-left: 42px;
        padding-right: 11px
    }
    .main-search input {
        width: 100%
    }
    .main-search .selector {
        display: none
    }
    .main-search .reset-padding {
        padding-left: 0px
    }
    #header .nav {
        top: 0;
        height: 100%;
        vertical-align: middle
    }
    #header .nav li {
        height: 100%;
        display: none
    }
    #header .nav li a {
        height: 100%;
        padding: 0 15px;
        background-color: #E8E8E8;
        color: #000;
        display: table;
        border-left: solid 1px #E8E8E8;
        font-size: 30px;
        margin-left: 0
    }
    #header .nav li.active a,
    #header .nav li a:hover {
        background-color: #E8E8E8;
        color: #fff
    }
    #header .nav li .icons:after {
        display: table-cell;
        vertical-align: middle
    }
    #header .nav li.search,
    #header .nav li.cat {
        display: block
    }
    body.item #right-sidebar .widget-box {
        padding: 20px
    }
    body.item #right-sidebar .form-container .controls input,
    body.item #right-sidebar .form-container .controls textarea {
        width: 238px;
    }
    body.item #right-sidebar .form-container label {
        font-size: 0.75em
    }
    body.item #contact h2 {
        margin-top: 0px
    }
    .alert_form {
        background-color: transparent
    }
    #alert_email {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box
    }
    .form-container .controls input,
    #right-sidebar .input-text {
        height: 32px
    }
    input[type="checkbox"] {
        width: auto;
        height: auto
    }
    textarea {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box
    }
    body.item #right-sidebar .form-container .controls input,
    body.item #right-sidebar .form-container .controls textarea {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box
    }
    .form-container .controls input,
    #right-sidebar .input-text,
    button,
    .ui-button {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box
    }
    ul.r-list {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        background-color: transparent;
        text-shadow: none
    }
    ul.r-list:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0
    }
    ul.r-list li {
        position: relative;
        margin-bottom: 5px;
        margin-right: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box
    }
    ul.r-list>li:nth-child(2n) {
        padding-left: 5px
    }
    ul.r-list>li:nth-child(odd) {
        clear: both
    }
    .r-list>li.clear,
    .r-list>li:nth-child(4n) {
        clear: none
    }
    ul.r-list li a.sub-category {
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        font-weight: bold;
        display: inline-block;
        padding: 10px;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
        font-size: 0.8em;
        border-color: #eaeaea;
        color: #069;
        background-color: #f7f7f7;
        text-shadow: 0 1px 1px #fff
    }
    ul.r-list li h1 {
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        font-weight: bold;
        display: inline-block;
        padding: 10px;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
        border-color: #eaeaea;
        color: #069;
        background-color: #f7f7f7;
        text-shadow: 0 1px 1px #fff;
        margin: 0
    }
    ul.r-list li span {
        display: none
    }
    ul.r-list li ul {
        -webkit-transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden
    }
    ul.r-list li.active h1,
    ul.r-list li.active a {
        background-color: #bd77e2;
        color: #000;
        border-color: #bd77e2;
        text-shadow: 0 1px 1px #ffffff
    }
    ul.r-list li span.collapse {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        display: inline-block
    }
    ul.r-list li.active ul {
        opacity: 1;
        height: auto;
        margin: 0;
        padding: 5px 0 0 0;
        margin-bottom: 5px
    }
    ul.r-list li.active ul li {
        padding: 0
    }
    ul.r-list li.active ul li a {
        border-color: #eaeaea;
        color: #069;
        background-color: #f7f7f7;
        text-shadow: 0 1px 1px #fff;
        font-size: 0.82em
    }
    ul.r-list li ul li {
        float: none;
        width: 100%
    }
    div.cell_3:nth-child(2n) {
        margin: 0 1%;
        width: 31%
    }
    .select-box {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box
    }
    .select-box select {
        width: 100%
    }
    body.item-post #footer .resp-toogle {
        display: none
    }
    body.display-cat .r-list {
        display: block
    }
    body.display-search .main-search,
    body.home .main-search {
        display: table
    }
    body.display-search #header,
    body.home #header {
        margin-bottom: 40px
    }
    .resp-toogle,
    body.display-filters div#right-sidebar {
        display: block
    }
    .show-filters-btn {
        display: inline-block;
        border: solid 1px #d1d1d1;
        background-color: #f7f7f7;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;
        font-size: 1em;
        line-height: 16px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        outline: 0;
        padding: 5px 6px;
        text-decoration: none;
        color: #9e9e9e
    }
    .form-container-box {
        width: auto !important;
    }
    .form-container .checkbox {
        margin-bottom: 15px
    }
    .form-container .checkbox input {
        width: auto
    }
    .form-horizontal .actions {
        margin: 0;
        padding-left: 0px;
        padding-right: 0px
    }
    .form-horizontal label {
        float: none;
        width: 100%;
        font-size: 0.85em
    }
    .form-horizontal .controls {
        width: auto;
        margin-left: 0 !important;
    }
    body.item-post .select-box {
        margin-bottom: 10px
    }
    #item-post select,
    .form-horizontal .select-box {
        width: 100%
    }
    .listing-grid .listing-card,
    body.search .listing-grid .listing-card {
        width: 32%;
        padding: 0%;
        border: 0;
        margin: 1%
    }
    .listing-grid .listing-detail {
        border: solid 1px #ECECEC
    }
    .listing-grid .listing-thumb {
        float: none
    }
    .listing-grid .listing-thumb img {
        height: auto;
        width: 92%;
        margin: 4%;
        float: left
    }
    .listing-grid .listing-cell {
        display: block;
        width: 92%;
        padding: 4%
    }
    .listing-grid .listing-basicinfo p {
        display: none
    }
    .listing-grid .listing-basicinfo a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: block
    }
    .listing-grid .listing-card:nth-child(3n) {
        margin-right: 0%
    }
    body.search .listing-card:nth-child(3n) {
        margin-right: 0%
    }
    .listing-grid .listing-card:nth-child(3n+1) {
        margin-left: 0%;
        clear: both
    }
    body.search .listing-grid .listing-card:nth-child(3n+1) {
        margin-left: 0%;
        clear: both
    }
    body.not-found .categories h2,
    body.not-found .categories h3 {
        float: none;
        width: 100%
    }
    body.item #right-sidebar,
    body.user-public-profile #right-sidebar {
        margin-top: 20px
    }
    .item-photos .thumbs {
        float: none;
        margin-top: 10px;
        width: 100%;
        clear: both
    }
    .item-photos .main-photo {
        width: 100%;
        float: none
    }
    .item-photos .main-photo img {
        width: 100%
    }
    body.search #right-sidebar,
    body.user #right-sidebar {
        width: auto;
        float: none;
        margin-bottom: 40px
    }
    body.search #content {
        position: relative;
        padding-top: 150px
    }
    body.user #right-sidebar {
        margin-top: 15px
    }
    body.search .list-header {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 80px
    }
    body.search #right-sidebar {
        display: none;
        background-color: #f7f7f7;
        border: solid 1px #eaeaea;
        padding: 10px 15px 5px;
        width: auto;
        float: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px
    }
    body.user #right-sidebar {
        display: none;
        background-color: #f7f7f7;
        border: solid 1px #eaeaea;
        padding: 10px 15px 5px;
        width: auto;
        float: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px
    }
    body.search #content h1 {
        display: block;
        margin: 0;
        font-size: 1.5em
    }
    .resp-wrapper {
        /*padding: 0 10px*/
		background: white;
		margin:0 auto;
    }
    body.search .list-header .actions {
        padding: 10px 0;
        clear: both
    }
    body.display-filters .show-filters-btn {
        background-color: #35C3D9;
        border-color: #23a4b8;
        color: white
    }
    #header .ads_header,
    .ads_300,
    .ads_728,
    .ads_468 {
        display: none
    }
}

@media only screen and (max-width: 640px) {
    body .item-header #type_dates {
        float: none
    }
    body div.cell_3 {
        margin: 0;
        width: 100%
    }
    body div.cell_3:nth-child(2n) {
        margin: 0;
        width: 100%
    }
}

@media only screen and (max-width: 480px) {
    ul.r-list li {
        float: none;
        width: 100%
    }
    ul.r-list>li:nth-child(2n) {
        padding-left: 0px
    }
    body.search ul.r-list>li:nth-child(2n) {
        padding-left: 0px
    }
    .listing-grid .listing-card,
    body.search .listing-grid .listing-card {
        width: 49%;
        clear: none
    }
    .listing-grid .listing-card:nth-child(2n),
    body.search .listing-grid .listing-card:nth-child(2n) {
        margin-right: 0%;
        margin-left: 1%;
        clear: none
    }
    .listing-grid .listing-card:nth-child(2n+1) {
        margin-left: 0%;
        margin-right: 1%;
        clear: both !important
    }
    body.search .listing-grid .listing-card:nth-child(2n+1) {
        margin-left: 0%;
        margin-right: 1%;
        clear: both !important
    }
    body.home .listing-grid .first {
        clear: none
    }
}

#plugin-hook .row {
    clear: both;
    margin-bottom: 10px
}

#plugin-hook .row label {
    margin-right: 20px
}

#rc-imageselect,
.g-recaptcha {
    transform: scale(0.87);
    -webkit-transform: scale(0.87);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0
}

.item-post .g-recaptcha {
    margin: 0
}

.g-recaptcha {
    max-width: 265px;
    margin: 0 auto
}

.checkbox-list {
    list-style: none;
    padding-left: 0
}

#bitnami-banner {
    display: none !important
}

.qq-upload-button {
    margin: 0 auto
}

.agree-disagree {
    font-size: 150%;
    margin-bottom: 20px;
}

/*Dante's changes*/

//Asana task

//remove unline for sub categories
li.category, li.sub-category {
    text-decoration: none;
}

//Buttons to purple
.left-sidebar-button{
	a{
		background-color: #BD77E2;
	}
}

//Category title in purple and grey box
ul.r-list li h1 a{
	color : #641b91;
	border: 2px solid gray;
	display: block;
	padding: 3px;
	background-color: #e8e8e8 !important;

	@media only screen and (max-width: 740px){
		border:none;
		background-color:transparent !important;
	}
}

#description{
	@media only screen and (max-width: 760px){
		display: none !important;
	}
}

input[name="qqfile"]{
	left:0;
	font-size: 12px !important;

	@media only screen and (max-width: 740px){
		height: 121px;
		width: 100%;
	}
}


/*.qq-upload-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	position: absolute;
	top: 0;
	left: 200px;
	height: 100px !important;

	@media only screen and (max-width: 740px){
		position: relative !important;
		height: auto !important;
		left:0 !important;
	}

	li{
		min-height: auto !important;
		height: auto !important;

		@media only screen and (max-width: 740px){
			min-height: 200px;
			height: 200px;
		}
	}
}*/

li.category{
	&.sub-category{
		border-bottom: 1px solid #ddd;
		cursor: pointer;
		&:hover{
			background-color: #eee;
		}
		a{
			display: block;
			text-decoration: none !important;
		}
	}
}

//Search button to yellow (text in black)
.main-search .ui-button{
	background-color: #EFE256;
   color: #000000 !important;
   background-image: none;
   border: none;
   border-top: none;
   box-shadow: none;
}

//login page tweaks
.onlyBorderInput{
	border: 0 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	border-bottom: 1px solid darkgray !important;
	width: 70% !important;

	@media only screen and (max-width: 740px){
		width: 100% !important;
	}
}

.noMarginInput{
	margin-left:0 !important;
	text-align: center;
}

.login-box{
	width : 500px;
	border-radius: 0;

	@media only screen and (max-width: 740px){
		.resp-wrapper{
			padding: 15px;
		}
		margin-bottom: 15px;
	}
}

//item post

.item.item-post{
	#main{
		float:none;
		margin:0 auto;

		form{
			padding:20px;

			input[type="text"],input[type="email"],input[type="number"]{
				@extend .onlyBorderInput;
			}

			textarea{
				border: 0 !important;
				border-radius: 0 !important;
				box-shadow: none !important;
				width: 70% !important;
				//resize:none;
				@media only screen and (max-width: 740px){
					width: 100% !important;
				}
			}
		}

		/*.qq-uploader{
			border: 1px solid;
		    padding: 4.46px;
		    width: 45px;
		    height: 45px;
			@media only screen and (max-width: 740px){
				height: auto;
				width: 100%;
			}
		}

		.qq-upload-button {
		    background-color: #f2dede;
		    color: #333333;
		    margin-bottom: 10px;
		    width: 35px;
		    height: 35px;
		    background: gray;
			overflow: visible !important;

			@media only screen and (max-width: 740px){
				height: 121px;
				width: 100%;
			}

			div{
				margin-left: 50px;
			    width: 150px;
			    margin-top: -6px;
			}
		}*/
	}
}


.item-post-width{
	width: 700px;
}

.narrow-location{
	&.wrapper{
		background-color: #e8e8e8 !important;
		ul{
			li{
				a{
					color : #333;
				}
			}
		}
	}
}

//dante styles
.neighborhood-alert-row{
	background-color: #EAF6F7;
	padding : 20px;

	.neighborhood_alert-title{
		margin:0;
		text-decoration: underline;
	}

	.neighborhood_alert-username{
		color:#22C8D9;
		font-weight: bold;
	}

	.neighborhood-alert-description{
		width: 100% !important;
		padding : 20px 0 20px 0;
		a{
			color:#22C8D9;
			font-weight: bold;
		}
	}

	.neighborhood-alert-detail{
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		display: flex;
		flex:1,
	}
}

.unslider{
	position: relative;
}

.unslider-arrow{
	display: block;
    width: 70px;
    height: 100px;
    overflow: hidden;
    background: rgba(0,0,0,1) no-repeat 50% 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
    background-size: 15px 25px;
    /* border-radius: 32px; */
    text-indent: -999em;
    /* opacity: .6; */
    transition: opacity .2s;
    top: 50%;
}

.unslider-arrow.next {
    left: auto;
    right: 0 !important;
}

.unslider-arrow.prev {
    left: 0 !important;
	-ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.listing-basicinfo p{
	word-wrap: break-word;
}

.column-row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	.mobile-community-page{
		width: 45%;
		text-align: center;
		margin-top: 15px;

		a{
			display: block;
		}
	}
}

.item-count-mobile{
	display: none !important;
}

//hide mobile publish in desktop-nav
#mobile-publish{
	display: none;
	@media only screen and (max-width: 768px){
		display: block;
	}
}


//neighborhood zip search
.neighborhood-search{
	padding-bottom: 20px;

	#search{
		padding : 11px !important;
		@media only screen and (max-width:768px){
			width:93%;
		}
	}

	#submit{
		background-color: #F88B5E !important;
		background-image: none;
   		box-shadow: none;
		color:#ffffff !important;
		margin-left: 20px;
		@media only screen and (max-width:768px){
			margin: 0;
		}
	}
}

