.moment-row .user-image, .moment-contents{
    float: left;
}
.moment-contents{
    max-width: 90%;
    margin-left: 20px;
}
.moment-row .user-image img{
    width: 50px;
    height: 50px;
}
.moment-header h2{
    float: left;
}
.moment-header a{
    float: right;
}
body.moment-listing .narrow-location, body.moment-listing .main-search{
    display: none;
}
.moments-detail h5, .moments-detail span{
    float: left;
}
.moments-detail h5 a{
    text-transform: capitalize;
    text-decoration: none;
}
.moments-detail a{
    text-decoration: none;
}
.moments-detail h5{
    font-weight: 500;
    margin-bottom: 3px !important;
}
.moment-date{
    margin-left: 10px;
    font-size: 15px;
}
.moment-contents p{
    margin: 7px 0px;
}
.moment-date, .moment-disc, .moments-detail h5{
    color: #777;
}
.moment-row{
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 25px;
}
.moment-imgs img{
    max-height: 250px;
    width: auto;
}
.moment-imgs .moment-image{
    float: left;
    margin: 30px 30px 50px 0px;
}
.moment-description {
    max-height: 54px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.moment-form{
    width: 80%;
    margin: 0px 10%;
    padding: 0px 15%;
}
.moment-form input[type="text"], .moment-form textarea{
    width: 100% !important;
}
.moment-form input[type="text"]{
    height: 34px;
}
.moment-form  .controls{
    margin-left: 0px;
}
.moment-form .form-row{
    margin-bottom: 15px;
}
.moment-form .form-actions .btn-submit{
    float: right;
    padding: 4px 50px;
    border-radius: 0px;
    margin-top: 10px;
}
.bootstrap-filestyle label{
    width: auto;
    text-align: center;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 34px;
}
.bootstrap-filestyle input[type="text"]{
    width: auto !important;
}
.bootstrap-filestyle .btn{
    background-color: #C8C8C8;
    color: #000000;
}