@font-face{
    font-family:"Helvetica Neue Medium";
    src:url("../fonts/helvetica-neue-medium.ttf");
}
@font-face{
    font-family:"Helvetica Neue Light";
    src:url("../fonts/helvetica-neue-light.ttf");
}
#header #logo #description{
        display: block;
}
ul.topnav.responsive, ul.ul_language.responsive, ul.ul_location.responsive {
    background-color: #ffffff;
    display: block !important;
    list-style-type: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin: 0px;
}
.search_country{
    display: inline !important;
}  
ul.topnav.responsive li, ul.ul_language.responsive li, ul.ul_location.responsive li {
    float: none;
}
ul.topnav.responsive li a, ul.ul_language.responsive li a, ul.ul_location.responsive li a {
    display: block;
    text-align: left;
}
.clear{
    clear: both;
}
#myTopnav, #myLanguage, #myLocation{
    padding: 2px 10px;
    border: 1px solid #000000;
}
#myTopnav li a, #myLanguage li a, #myLocation li a{
    color: #000000;
    padding: 8px 0px;
    border-bottom: 1px solid #e4e4e4;
    text-decoration: none;
    font-size: 14px;
}
#myTopnav .last-menu{
    border-bottom: none;
}
/*#myTopnav::after {
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 100%;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 21px;
    width: 0;
}
#myTopnav::before {
  border-bottom: 13px solid #000;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  margin-top: -3px;
  margin-left: -3px;
  z-index: -100;
}*/

#myTopnav::after,
#myTopnav::before {
  width: 0;
  height: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  right: 20px;
}

#myTopnav::after {
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 1;
  margin-top: 1px;
}

#myTopnav::before {
    border-bottom: 11px solid #000;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    margin-left: -3px;
    margin-top: -3px;
    right: 19px;
    z-index: -100;
}
ul.ul_language.responsive{
    background-color: #ffffff;
    display: inline-block !important;
    list-style-type: none;
    margin: 0;
    position: absolute;
    right: 89px;
    top: 215px;
    z-index: 1;
    width: auto !important;
}
ul.ul_location.responsive{
    background-color: #ffffff;
    display: inline-block !important;
    list-style-type: none;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 215px;
    z-index: 1;
    width: auto !important;
}
#myLanguage li a, #myLocation li a{
    padding: 8px 50px 8px 0;
    color: #286795;
    font-family: "Helvetica Neue",Helvetica Neue Medium,Helvetica,Arial,sans-serif;
    font-size: 14px;
}
#myLanguage .selected-language a, #myLocation .selected-location a{
    color: #35c3d9;
    font-size: 14px;
    font-family: "Helvetica Neue Bold",Helvetica,Arial,sans-serif;
}
#myLanguage, #myLocation{
    border: 1px solid #7b7878;
    border-radius: 2px;
    box-shadow: 0 1px 2px #7b7878;
    padding: 2px 0px;
}
#myLanguage li, #myLocation li{
    padding: 0px 13px;
}
#myLanguage li:hover, #myLocation li:hover,#myLanguage li a:hover, #myLocation li a:hover{
    color: #ffffff;
    background-color: #37C2D9;
    border-bottom: 1px solid #37C2D9;
}
#myLanguage .default-text:hover, #myLocation .default-text:hover{
    background-color: #ffffff;
    color: #494949;
    border-bottom: 1px solid #e4e4e4;
}
#myLanguage .default-text, #myLocation .default-text{
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    padding: 8px 0px;
    color: #494949;
    font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
    margin: 0 13px;
}

#myLanguage #en_US{
    border-bottom: none;
}
#myLocation li a{
    padding: 8px 41px 8px 0;
}
#myLocation li:last-child a {
   border-bottom: none;
}
.mobile-community-page{
    background-color: #35c3d9;
    border-radius: 2px;
    float: left;
    padding: 6px 9px;
}
.mobile-community-page a{
    color: #ffffff;
    font-size: 12px;
    font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.narrow-location li{
    float: left;
    list-style-type: none;
    margin-left: 20px;
}
.narrow-location li a{
    font-size: 15px;
    text-decoration: none;
}
.narrow-location{
    text-align: center;
    margin: 5px auto 5px;
    padding: 10px 0px;
    background-color: #f7f7f7;
}
.narrow-location ul{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
.narrow-selected-location{
    margin-right: 15px;
}
.narrow-selected-location h5{
    margin: 0px;
    
}
.left-sidebar-button{
   margin: 8px 0px; 
}
.selected-region a, .selected-location a{
  color: #666;
}
.selected-location a{
  font-weight: bold !important;
}
.user-card{
    height: auto;
    background-color: #ECF7FA;
    padding: 40px;
    overflow: auto;
}
.user-card .profile_pic img{
    position: inherit;
    border-radius: 0px;
    float: left;
    width: 65px;
    height: 65px;
}
.user-card ul{
    float: left;
    padding-top: 0px;
}
.profile_upload img{
    float: left;
}
.profile_upload form{
    float: left;
    margin-left: 15px;
}
.profile_upload{
    margin-left: 180px;
    margin-bottom: 20px;
    overflow: auto;
}
body.user-profile .form-horizontal label{
    float: none;
    margin-left: 180px;
}
.user-card .name {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #108BDE;
    margin-bottom: 3px;
    text-transform: capitalize;
}
.user_city img, .social-links img{
    width: auto;
    position: inherit;
}
.user-description p, .user_city, .location_zip{
    color: #4A4A4A;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
.user_city, .location_zip{
    margin-bottom: 6px;
}
.user-card h2{
    font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
    color: #666666;
}
.user-social-links p{
    font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.social-links a{
    margin-right: 15px;
}
.user-social-links{
    padding-top: 1px;
}
.profile_upload img {
    max-height: 120px;
}
#right-sidebar .contact_button, body.item #contact_form .ui-button-main{
    font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
    font-size: 16px;
    width: 238px;
    background-color: #286795;
    color: #ffffff;
    background-image: none;
    box-shadow: none;
    border: none;
}
.publisher-profile-pic, .publisher-name{
    float: left;
}
.publisher-profile-pic{
    margin-right: 15px;
}
.publisher-name{
    margin: 4px 0px;
}
.publisher-name a{
    color: #108BDE;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
.publisher-profile-pic img{
    width: 65px;
    height: 65px;
}
.publisher-profile-container{
    border-bottom: 2px solid #666666;
    margin-bottom: 19px; 
    padding-bottom: 15px;
    overflow: auto;
    height: auto;
    max-width: 238px;
}
body.item #right-sidebar h2{
    font-size: 24px;
}
.publisher-name span{
    display: block;
    font-size: 16px;
    margin-top: 5px;
}
.listing-user-info img{
    width: auto !important;
    float: left !important;
}
.listing-user-info h3, .listing-user-info p{
    margin: 0px !important;
}
.listing-user-info p a, .listing-user-info p span{
    text-decoration: none;
    font-weight: 500;
    color: #666;
    text-transform: capitalize;
    font-size: 14px;
}
.listing-user-info h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px !important;
}
.listing-user-info img{
    margin-right: 10px;
    width: 16px !important;
    height: 16px !important;
}
.list-grid .listing-basicinfo, .thumb-grid .listing-basicinfo, body.user-public-profile .listing-basicinfo, body.user-items .listing-basicinfo{
    float: left;
}
.list-grid .listing-user-info, .thumb-grid .listing-user-info, body.user-public-profile .listing-user-info, body.user-items .listing-user-info{
    float: right;
    min-width: 108px;
}
.listing-basicinfo p{
    max-width: 480px;
}
.profilepic-update-link{
    margin-left: 10px;
    margin-bottom: 5px;
    color: #333;
    line-height: 25px;
    text-decoration: none;
}
.profilepic-update-link:hover{
    text-decoration: underline;
}
.listing-grid .listing-card{
    height: 310px;
}
.publisher-profile-pic{
    border-radius: 50%;
    overflow: hidden;
}
.profile_pic{
    border-radius: 50%;
    overflow: hidden;
    float: left;
    width: 65px;
    height: 65px;
}
.listing-user-pic{
    border-radius: 50%;
    overflow: hidden;
    float: left;
    width: 16px;
    height: 16px;
}
.profile_upload img{
    border-radius: 50%;
    overflow: hidden;
    float: left;
    width: 75px;
    height: 75px;
}
.moment-row .user-image img, .neighborhood-alert-row .user-image img{
    border-radius: 50%;
    overflow: hidden;
    float: left;
    width: 70px;
    height: 70px;
}
.moment-contents p, .neighborhood-alert-contents p{
    word-break: break-all;
}
.moment-description, .neighborhood-alert-description{
    max-height: none !important;
}

@media screen and (min-width: 800px) {
    #myTopnav{
        display: none !important;
    }
}

@media only screen and (max-width: 740px) {
    /* For mobile phones: */
   .narrow-location{
        display: none;
    }

    #header #logo{
        height: 60px;
        padding-bottom: 0;
        padding-top: 10px;
        letter-spacing: normal;
    }
    #header{
        background-color: #ffffff;
    }
    #header #logo #description{
        display: block;
        font-family: "Helvetica Neue Light",Helvetica,Arial,sans-serif;
        font-size: 18px;
        padding-top: 1px;
    }
    #header #logo a{
        font-size: 30px;
        font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
        font-weight: 400;
    }
    .mobile-header-right{
        display: block !important;
        background-color: #35c3d9;
    }
    .mobile-header-left{
        float: left;
        width: 80%;
        background-color: #35c3d9;
    }
    .mobile-header-right{
        float: left;
        height: 60px;
        padding-right: 20px;
        padding-top: 16px;
        text-align: right;
        vertical-align: middle;
        width: 20%;
    }
    body.home #left-sidebar, body.home #right-sidebar{    
        display: none;
    }
    .main-search .selector{
        display: none !important;
    }
    #mobile-publish{
        background-color: #f0f0f0;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0),color-stop(100%, #c9c9c9));
        background-image: -webkit-linear-gradient(top, #f0f0f0,#c9c9c9);
        background-image: -moz-linear-gradient(top, #f0f0f0,#c9c9c9);
        background-image: -ms-linear-gradient(top, #f0f0f0,#c9c9c9);
        background-image: -o-linear-gradient(top, #f0f0f0,#c9c9c9);
        background-image: linear-gradient(top, #f0f0f0,#c9c9c9);
        box-shadow: 0 0 1px 0 #fff inset, 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        height: 110px;
    }
    .main-search{
        background-image: none !important;
        box-shadow: none !important;
        background-color:transparent !important;
    }
    #mobile-publish .publish{
        display: block !important;
        padding: 10px 20px;
    }
    #mobile-publish .publish a{
        width: 100%;
        display: block !important;
        background: #F51040; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#F51040, #BA1327); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#F51040, #BA1327); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#F51040, #BA1327); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#F51040, #BA1327); /* Standard syntax */
        border: none;
        box-shadow: none;
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-family: "Helvetica Neue Light",Helvetica,Arial,sans-serif;
    }
    .search-button, .cell.search-button{
        display: none !important;
    }
    .search-button-mobile{
        display: block !important;
        float: left;
        width: 17%;
        height: 40px;
        background-color: #35C3D9;
        background-color: #35C3D9;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #35C3D9), color-stop(100%, #18a7be));
        background-image: -webkit-linear-gradient(top, #35C3D9, #18a7be);
        background-image: -moz-linear-gradient(top, #35C3D9, #18a7be);
        background-image: -ms-linear-gradient(top, #35C3D9, #18a7be);
        background-image: -o-linear-gradient(top, #35C3D9, #18a7be);
        background-image: linear-gradient(top, #35C3D9, #18a7be);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border: 1px solid #35C3D9;
        box-shadow: none;
    }
    .main-search .has-placeholder{
        width: 83%;
        float: left;
        height: 40px;
    }
    .main-search{
        padding: 0 20px !important;
        overflow: auto;
        height: 40px;
    }
    .main-search .cell, .main-search input{
        overflow: auto;
        height: 40px;
    }
    .main-search input{
        border: 1px solid #35C3D9;
        border-radius: 3px 0 0 3px;
    }
    .mobile-language{
        display: block !important;
        height: 50px;
        background-color: #F4F4F4;
        padding: 10px 20px !important;
        margin-top: 2px;
    }
    .mobile-language-select, .mobile-location-select{
        float: right;
    }
    /*.mobile-location-select img{
        height: 30px !important;
        width: 30px !important;
    }
    .mobile-language-select img{
        width: 60px !important;
        height: 30px !important;
    }*/
    .mobile-location-select{
        padding: 0 9px 0 31px;
    }
    .desktop-nav{
        display: none;
    }
    .item-count-mobile{
        background-color: #286795;
        border-radius: 30px;
        color: #ffffff;
        display: inline !important;
        float: right;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 200;
        height: 30px;
        line-height: 30px;
        margin: 0;
        text-align: center;
        width: 30px;
    }
    ul.r-list li a, ul.r-list li span, ul.r-list li.active ul li a{
        float: left;
        font-family: "Helvetica Neue",Helvetica Neue Medium,Helvetica,Arial,sans-serif;
        font-size: 14px !important;
        font-weight: 200;
        line-height: 30px;
        color: #286795;
    }
    ul.r-list li h1{
        height: 42px;
        padding: 5px 10px;
    }
    ul.r-list li span.collapse{
        padding-top: 8px;
    }
    body.home #header{
        margin-bottom: 20px;
    }
    body.home .wrapper-flash {
        margin-bottom: 20px;
    }
    ul.r-list li.active h1, ul.r-list li.active a{
        color: #ffffff;
    }
    ul.r-list li.active ul li{
        background-color: #f7f7f7;
        border-color: #eaeaea;
        color: #286795;
        text-shadow: none;
        height: 42px;
        padding: 4px 10px;
        border-radius: 3px;
        border: 1px solid #eaeaea;
    }
    ul.r-list li.active ul li a{
        border: none;
        display: inline;
        float: left;
        width: auto;
        background-color: transparent;
        color: #286795;
        font-size: 14px;
        text-shadow: none;
        padding: 0px 10px;
        border-color: transparent;
        box-shadow: none;
    }
    #footer{
        border-top: none;
        padding-bottom: 19px;
        margin-top: 0px;
        padding-top: 50px;
        background-color: #ffffff;
    }
    #footer ul.resp-toggle, .footer-language{
        display: none;
    }
    #footer ul li a{
        color: #006699;
        font-size: 14px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    #footer p{
        color: #2A2A2A;
        font-size: 12px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    #footer p a{
        color: #006699;
        font-size: 12px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    #item-post h2:hover{
        cursor: pointer;
    }
    body.item-post .breadcrumb{
        display: none;
    }
    body.item-post .header h1{
        color: #666666;
        font-size: 18px;
        font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
        float: left;
        width: 80%;
        letter-spacing: initial;
        line-height: normal;
        font-weight: 400;
    }
    .cancel_link{
        display: inline !important;
        float: left;
        width: 20%;
        text-align: right;
    }
    .cancel_link a{
        color: #D0021B;
        font-size: 12px;
        font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
        text-decoration: none;
    }
    .section_number{
        display: inline !important;
    }
    body.item-post .seller_info h2, body.item-post .location h2, body.item-post .general_info h2{
        color: #286795;
        font-size: 18px;
        font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
        letter-spacing: initial;
        line-height: normal;
        font-weight: 400;
    }
    #restricted-fine-uploader{
        padding-left: 0px !important;
    }
    body.item-post #item-post fieldset{
        clear: both;
    }
    body.item-post #item-post input, body.item-post #item-post textarea, body.item-post #item-post .select-box{
        box-shadow: none !important;
        margin-bottom: 5px;
        margin-top: 10px;
        color: #000000;
    }
    body.item-post #item-post .select-box {
        background-color: #ffffff;
        background-image: none;
    }
    body.item-post #item-post .select-box-icon{
        color: #62C0D6;
    }
    body.item-post #item-post label{
        color: #4A4A4A;
    }
    body.item-post #item-post .ui-button-main{
        box-shadow: none;
        border: 1px solid #35c3d9;
        font-size: 18px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    body.item-post{
        background-color: #F5F5F5;
    }
    body.item-post .mobile-language{
        border-bottom: 1px solid #bfbfbf;
    }
    .qq-upload-button div{
        display: none;
    }
    .qq-upload-button{
        background-image: url('../images/photo-camera.png') !important;
        background-repeat: no-repeat !important;
        background-color: #B6D3DA !important;
        background-position: center !important;
        border-bottom: none !important;
        border-radius: 3px;
        height: 121px;
        
    }
    .qq-upload-success .qq-upload-file, .qq-upload-success .qq-upload-size{
           display: none !important;
    }
    .qq-upload-list li.qq-upload-success{
        background-color: #95BF60 !important;
        width: 46% !important;
        margin: 2% !important;
        padding: 3% !important;
        height: auto !important;
        min-height: auto !important;
        margin-bottom: 15px !important;
    }
    .photos_div div, .ajax_preview_img{
        background: transparent !important;
        border: none !important;
        height: auto !important;
        margin-right: 0px !important;
        margin-top: 0px !important;
        padding: 0px !important;
        width: auto !important;
        max-width: 100% !important;
    }
    .ajax_preview_img img{
        width: 100% !important;
        height: 115px !important;
    }
    .qq-upload-delete{
        background-image: url("../images/delete_photo.png") !important;
        background-repeat: no-repeat !important;
        color: transparent !important;
        height: 30px !important;
        margin-left: -5% !important;
        margin-top: -5% !important;
        position: absolute !important;
    }
    .general_info, .box.location, .box.seller_info{
        border-bottom: 1px solid #D1D1D1;
        padding-top: 12px;
    }
    .ui-publish-button{
        padding: 35px 0 25px;
    }
    body.search #content h1{
        color: #666666;
        font-size: 18px;
        font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
        letter-spacing: unset;
    }
    .show_filters{
        width: 60px;
        color: #286795;
        font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
        font-size: 13px;
        background-color: #ffffff;
        font-weight: 300;
    }
    .doublebutton a{
        background-color: #F5F5F5;
         border: 1px solid #D1D1D1;
    }
    .doublebutton a.active {
        background-color: #62C0D6;
        border-color: #4FA2B5;
        color: #fff;
    }
    .see_by span{
        color: #4A4A4A;
        font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;
        font-size: 13px;
    }
    body.search .listing-basicinfo p{
        font-size: 15px;
        margin: 0 0 10px;
        max-height: 39px;
        overflow: hidden;
    }
    .thumb-grid .listing-thumb img {
        height: 75px;
        width: 75px;
    }
    body.search .listing-attributes .location, body.search .thumb-grid .g-hide, body.search .listing-attributes .seperator{
        display: none;
    }
    .category-text{
        color: #62C0D6;
        display: inline !important;
    }
    .thumb-grid .listing-date, .listing-grid .listing-date{
        display: block;
        padding: 8px 0;
    }
    .listing-basicinfo a.title{
        text-decoration: none;
        color: #3C759E;
        word-break: break-all;
    }
    .thumb-grid .listing-card .currency-value{
        font-size: 14px;
    }
    .thumb-grid .listing-card .listing-detail {
        margin-left: 93px;
        width: auto;
    }
    .listing-grid .location{
        display: none !important;
    }
    .listing-grid .listing-thumb {
        float: left;
    }
    #error_list{
        clear: both;
        float: none;
    }
    #error_list li, .error_list li{
        padding: 0px;
    }
    #error_list label{
        text-align: left !important;
    }
    .search_country{
        display: inline !important;
        font-size: 17px !important;
        font-weight: 500 !important;
        padding-left: 3px;
    }
    body.item .contact_button{
        clear: both;
    }
    .payments-pro-wrapper .col-id{
        display: none;
    }
    .payments-pro-wrapper .col-delete a{
        color: #D0021B;
        text-decoration: none;
    }
    .moment-contents, .neighborhood-alert-contents{
        max-width: 78% !important;
    }
    .neighborhood-alert-header h2{
        font-size: 18px !important;
    }
    .moment-form, .neighborhood-alert-form{
        margin: 0px !important;
        padding: 0px !important;
        width: 100% !important;
    }
    .moment-contents, .neighborhood-alert-contents{
        margin-left: 6px !important;
    }
    body.moment-listing #mobile-publish .search, body.neighborhood-alert-listing #mobile-publish .search{
        display: none !important;
    }
    body.moment-listing .mobile-community-page, body.neighborhood-alert-listing .mobile-community-page{
        display: none !important;
    }
    body.moment-listing #mobile-publish, body.neighborhood-alert-listing #mobile-publish{
        height: auto !important;
    }
    body.moment-listing .mobile-language-select, body.neighborhood-alert-listing .mobile-language-select{
        float: left !important;
    }
    body.moment-listing #header, body.neighborhood-alert-listing #header{
        margin-bottom: 8px !important;
    }
    .moment-post-listing #mobile-publish, .neighborhood-post-listing #mobile-publish{
        display: none;
    }
    body.moment-post-listing fieldset, body.neighborhood-post-listing fieldset{
        width: 100% !important;
        box-sizing: border-box;
    }
    body.moment-post-listing .form-horizontal, body.neighborhood-post-listing .form-horizontal{
        width: 80%;
        margin-left: 8%;
    }
    .neighborhood-alert-header h2 {
        font-size: 14px !important;
    }
}



