.neighborhood-alert-row .user-image, .neighborhood-alert-contents{
    float: left;
}
.neighborhood-alert-contents{
    max-width: 90%;
    margin-left: 20px;
}
.neighborhood-alert-row .user-image img{
    width: 50px;
    height: 50px;
}
.neighborhood-alert-header a{
    float: right;
}
body.neighborhood-alert-listing .narrow-location, body.neighborhood-alert-listing .main-search{
    display: none;
}
.neighborhood-alert-detail h5, .neighborhood-alert-detail span{
    /*float: left;*/
}
.neighborhood-alert-detail h5 a{
    text-transform: capitalize;
    text-decoration: none;
}
.neighborhood-alert-detail a{
    text-decoration: none;
}
.neighborhood-alert-detail h5{
    font-weight: 500;
    margin-bottom: 3px !important;
}
.neighborhood-alert-date{
    /*margin-left: 10px;*/
    font-size: 15px;
}
.neighborhood-alert-contents p{
    margin: 7px 0px;
}
.neighborhood-alert-date, .neighborhood-alert-disc, .neighborhood-alert-detail h5{
    color: #777;
}
.neighborhood-alert-row{
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 25px;
}
.neighborhood-alert-imgs img{
    max-height: 250px;
    width: auto;
}
.neighborhood-alert-imgs .neighborhood-alert-image{
    float: left;
    margin: 30px 30px 50px 0px;
}
.neighborhood-alert-description {
    max-height: 54px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.neighborhood-alert-form{
    width: 80%;
    margin: 0px 10%;
    padding: 0px 15%;
}
.neighborhood-alert-form input[type="text"], .neighborhood-alert-form textarea{
    width: 100% !important;
}
.neighborhood-alert-form input[type="text"]{
    height: 34px;
}
.neighborhood-alert-form  .controls{
    margin-left: 0px;
}
.neighborhood-alert-form .form-row{
    margin-bottom: 15px;
}
.neighborhood-alert-form .form-actions .btn-submit{
    float: right;
    padding: 4px 50px;
    border-radius: 0px;
    margin-top: 10px;
}
.zip-code-message h6{
    margin: 5px 0px;
    font-size: 17px;
}
.neighborhood-alert-header span{
    float: right;
}
.bootstrap-filestyle label{
    width: auto;
    text-align: center;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 34px;
}
.bootstrap-filestyle input[type="text"]{
    width: auto !important;
}
.bootstrap-filestyle .btn{
    background-color: #C8C8C8;
    color: #000000;
}
