.calendar-chart {
  margin: 15px 0;
}
.calendar-chart img {
  width: 100%;
}

h1 {
  color: #35c3d9;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 24px;
}

.chinese-calendar {
  background: #bd77e2;
  padding: 15px;
}
.chinese-calendar .ui-datepicker {
  border: 0;
  border-radius: 0;
  padding: 0;
}
.chinese-calendar .ui-datepicker-header {
  background: #bd77e2;
  padding: 10px 0 20px;
  border: 0;
  border-radius: 0;
}
.chinese-calendar .ui-datepicker-prev,
.chinese-calendar .ui-datepicker-next {
  display: none;
}
.chinese-calendar .ui-datepicker-title select {
  width: auto;
  margin: 0 5px;
  font-size: 24px;
  color: darkorange;
  text-transform: uppercase;
}

.chinese-calendar .ui-datepicker table {
  margin: 0;
}
.chinese-calendar td {
  width: 90px;
  height: 90px;
  position: relative;
  background: #f1f1f1;
  border: #faa95a 1px solid;
}
.chinese-calendar td a {
  font-size: 18px;
  border: 0;
  position: absolute;
  display: inline;
  right: 5px;
  bottom: 5px;
}
.chinese-calendar td .ui-state-default {
  border: 0;
  background: transparent;
  color: #333;
  font-weight: bold;
}
.chinese-calendar .ui-datepicker td {
  padding: 0;
}
.chinese-calendar .ui-datepicker .ui-datepicker-today {
  background: #93dae5;
}
.chinese-calendar .ui-datepicker .ui-datepicker-current-day {
  background: #f88b5e;
}
.chinese-calendar thead th {
  background: #faa95a;
  border-right: 1px solid #ea8960;
  text-transform: uppercase;
  font-size: 14px;
}

.chinese-calendar-info {
  padding: 15px;
  background: #fff;
}
.chinese-calendar-info.chinese-calendar-info-popup {
  width: 400px;
}
.chinese-calendar-info .heading {
  text-align: center;
  margin-top: 30px;
}

.chinese-calendar-info .animal-image img {
  display: block;
  margin: 15px auto;
  width: 75px;
  border-radius: 40px;
  border: #faa95a 3px solid;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}

.chinese-calendar-info .heading .date {
  color: #68d2e3;
  font-size: 16px;
}
.chinese-calendar-info .heading .lunar-date {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0;
}
.chinese-calendar-info .heading .chong-sha {
  color: #68d2e3;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}

.chinese-calendar-info h4 {
  color: #68d2e3;
  font-weight: bold;
  margin: 14px 0 8px;
  line-height: 1em;
  font-size: 14px;
}
.chinese-calendar-info .label {
  font-size: 13px;
  color: white;
  background: #faa95a;
  padding: 2px 8px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 5px;
}

.chinese-calendar-info .view-more {
  text-align: center;
  margin: 25px 0 10px;
}
.chinese-calendar-info .view-more a {
  color: #68d2e3;
  text-decoration: underline;
}

.full-calendar .ui-datepicker {
  width: 100%;
}
.full-calendar .ui-datepicker-calendar {
  float: left;
  width: 66.6%;
}
.full-calendar .calendar-info-panel {
  float: right;
  width: 33.3%;
}

#left-sidebar .chinese-calendar {
  padding: 0;
}
#left-sidebar .chinese-calendar .ui-datepicker-header {
  padding: 5px;
  background: #f1f1f1;
}
#left-sidebar .chinese-calendar .ui-datepicker-header select {
  font-size: 14px;
}
#left-sidebar .chinese-calendar .ui-datepicker {
  width: 100%;
}
#left-sidebar .chinese-calendar thead th {
  font-size: 10px;
}
#left-sidebar .chinese-calendar .ui-datepicker .ui-datepicker-title {
  margin: 0;
}
#left-sidebar .chinese-calendar td {
  width: 24px;
  height: 24px;
}
#left-sidebar .chinese-calendar td a {
  font-size: 12px;
  right: 1px;
  bottom: 1px;
}