body.home {
    .leftlinks {
        list-style: none;
        padding: 0;

        li {
            display: block;
            margin-bottom: 5px;

            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    #main {
        margin: 0 0 30px!important;
    }

    #left-sidebar {
        margin-bottom: 30px;
    }

    @media only screen and (min-width: 740px) {
        #left-sidebar {
            width: 18%;
            float: left;
            margin-bottom: 30px;
        }

        #main {
            width: 60% !important;
            margin: -20px 2% 0 !important;
        }

        #right-sidebar {
            width: 18%;
        }
    }
}

#sflinks {
    list-style: none;
    a {
        display: block;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

#select-language {
    margin-bottom: 30px;
}

#faq-items {
    margin-bottom: 30px;

    ul {
        margin: 0;
    }
}

.calendar-title {
    margin-bottom: 0;
}

.calendar-subtitle {
    line-height: 1 !important;
    margin-bottom: 0;
    font-size: 1em;
}



// Viewing Options
.list-grid {
    .thumb-wrapper {
        display: none;
    }

    .listing-card .listing-detail {
        margin-left: 0;
    }
}

.listing-grid .thumb-wrapper {
    margin: 0 -6px;
    position: relative;
    overflow: hidden;
}

.slick-back, .slick-forward {
    position: absolute;
    text-align: center;
    font-size: 2em;
    line-height: 2.5em;
    top: 50%;
    left: 0;
    width: .7em;
    color: #ddd;
    z-index: 9999;
    height: 30px;
    width: 30px;
    margin-top: -15px;

    &:hover {
        color: #666;
        cursor: pointer;
    }
}

.slick-forward {
    left: auto;
    right: 0;
}

.thumb-grid {
    li.listing-card .listing-thumb {
        display: none;

        &:first-child {
            display: block;
        }
    }
}

.nearby-areas-list {
    list-style: none;
    padding-left: 20px;
    li {
        display: block;
        margin-bottom: 10px;
    }
}

#custom_calendar_table {
    width: 100%;
    text-align: center;
    tr td {
        height: 30px;
    }

    thead {
        td {
            background-color: #f4f4f4;
            font-weight: bold;
        }
    }
}

.fi_make_favorite {
    line-height: 24px;
}

.row .checkboxes {
    ul {
        list-style: none;
        padding-left: 20px;
    }
}

.btn {
  text-decoration: none;
  padding: 10px;
  background-color: #35c3d9;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #23a4b8;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

// .listing-grid {
//     li.listing-card .listing-thumb {
//         display: none;

//         &:first-child {
//             display: block;
//         }
//     }
// }
