@import 'extra';

*, *:before, *:after {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: #069;
  &:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:hover, &:active {
    outline: 0;
  }
}

sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img {
  max-width: none;
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button, input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
}

input {
  &[type="button"], &[type="reset"], &[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  &[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
    &::-webkit-search-decoration, &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.has-placeholder {
  position: relative;
  display: block;
  float: left;
  label {
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    color: #646464;
    line-height: 43px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 0 15px;
    text-shadow: 0 1px 0 #ffffff;
    overflow: hidden;
  }
}

textarea {
  background-color: #fff;
  border: solid 1px #bfbfbf;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: inset 0 1px 0 0 #E0E0E0;
  display: inline-block;
  vertical-align: middle;
  color: #646464;
  line-height: 1em;
  text-decoration: none;
  padding: 10px;
  box-shadow: inset 0 1px 0 0 #dfd8d8;
  width: 280px;
}

div.select-box-focus {
  outline: 0;
  border: 1px solid #5B9DD9;
  -webkit-box-shadow: 0 0 5px 1px #5B9DD9;
  -moz-box-shadow: 0 0 5px 1px #5B9DD9;
  box-shadow: 0 0 5px 1px #5B9DD9;
}

.select-box {
  z-index: 0;
  position: relative;
  display: inline-block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: auto;
  background-color: #f9f9f9;
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e0dada));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e0dada);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e0dada);
  background-image: -ms-linear-gradient(top, #f9f9f9, #e0dada);
  background-image: -o-linear-gradient(top, #f9f9f9, #e0dada);
  background-image: linear-gradient(top, #f9f9f9, #e0dada);
  border: solid 1px #d3d3d3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  color: #fff !important;
  line-height: 43px;
  text-decoration: none;
  padding: 0 15px;
  box-shadow: inset 0 1px 0 0 #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  padding: 0px;
  overflow: hidden;
  .select-box-label {
    height: 16px;
    overflow: hidden;
    display: block;
    line-height: 16px;
    float: left;
    position: absolute;
    top: 0;
    color: #bababa;
    padding: 0px 15px;
    height: 100%;
    color: #646464;
    line-height: 30px;
    text-shadow: 0 1px 0 #ffffff;
  }
  a:hover {
    text-decoration: none;
  }
  select {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    z-index: 1003;
    padding-right: 45px;
  }
}

.select-box-icon {
  z-index: 0;
  position: absolute;
  right: 13px;
  top: -7px;
  right: 0px;
  height: 100%;
  width: 24px;
  text-decoration: none;
  display: block;
  font-family: "icons";
  color: #404040;
  font-size: 0.8em;
  text-align: left;
}

.ui-button {
  background-color: false;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: -moz-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: -ms-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: -o-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: linear-gradient(top, #f0f0f0, #c9c9c9);
  border: solid 1px #cacaca;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  color: #5f5f5f !important;
  line-height: 43px;
  text-decoration: none;
  padding: 0 15px;
  box-shadow: inset 0 1px 0 0 #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

input.ui-button, button.ui-button {
  padding-left: 10px;
  padding-right: 10px;
}

.ui-button-main {
  background-color: #35C3D9;
  background-color: #35C3D9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #35C3D9), color-stop(100%, #18a7be));
  background-image: -webkit-linear-gradient(top, #35C3D9, #18a7be);
  background-image: -moz-linear-gradient(top, #35C3D9, #18a7be);
  background-image: -ms-linear-gradient(top, #35C3D9, #18a7be);
  background-image: -o-linear-gradient(top, #35C3D9, #18a7be);
  background-image: linear-gradient(top, #35C3D9, #18a7be);
  border: solid 1px #1f91a3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  color: #fff !important;
  line-height: 43px;
  text-decoration: none;
  padding: 0 15px;
  box-shadow: inset 0 1px 0 0 #a0e3ed;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

a.ui-button {
  line-height: 34px;
}

.ui-button-middle {
  height: 36px;
  font-size: 1em;
  line-height: 1em;
}

.doublebutton {
  float: right;
  a {
    border: solid 1px #d1d1d1;
    background-color: #f7f7f7;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    height: 28px;
    outline: 0;
    padding: 5px 6px;
    display: block;
    float: left;
    span {
      float: left;
      cursor: pointer;
    }
  }
}

.doublebutton a.active {
  background-color: #35C3D9;
  border-color: #23a4b8;
  color: #fff;
}

.alert_form {
  background-color: #f2f2f2;
  padding: 15px 10px;
  button {
    width: 100%;
  }
  input {
    width: 184px;
    margin-bottom: 12px;
  }
}

.form-vertical .control-group {
  clear: both;
  margin-bottom: 10px;
}

.form-container {
  .controls input, .meta input {
    background-color: #fff;
    border: solid 1px #bfbfbf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #dfd8d8;
    width: 280px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
  }
  .ui-drop-files {
    width: 280px;
    padding: 0 10px;
    height: 70px;
    text-align: center;
    font-size: 18px;
    line-height: 70px;
    color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .controls {
    font-size: 1em;
  }
  .main-button {
    background-color: #35C3D9;
    background-color: #35C3D9;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #35C3D9), color-stop(100%, #18a7be));
    background-image: -webkit-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -moz-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -ms-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -o-linear-gradient(top, #35C3D9, #18a7be);
    background-image: linear-gradient(top, #35C3D9, #18a7be);
    border: solid 1px #1f91a3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #a0e3ed;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  }
  .checkbox input {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-top: -2px;
    padding: 0;
    border: none;
    box-shadow: none;
  }
}

input[type="checkbox"] {
  width: auto;
  height: auto;
  vertical-align: middle;
  margin-top: -2px;
  padding: 0;
  border: none;
  box-shadow: none;
}

.form-container {
  .meta input[type="checkbox"], .controls input[type="checkbox"] {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-top: -2px;
    padding: 0;
    border: none;
    box-shadow: none;
  }
}

input[type="radio"] {
  width: auto;
  height: auto;
  vertical-align: middle;
  margin-top: -2px;
  padding: 0;
  border: none;
  box-shadow: none;
}

.form-container {
  .meta input[type="radio"], .controls input[type="radio"] {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-top: -2px;
    padding: 0;
    border: none;
    box-shadow: none;
  }
}

.meta_list .meta {
  ul {
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
    float: left;
    li {
      clear: both;
      list-style: none;
      label {
        width: auto;
        margin-left: 5px;
        float: none;
      }
    }
  }
  input[type="checkbox"] {
    margin-top: 10px;
  }
  .cf_date_interval {
    width: 100px;
  }
  &:after {
    content: "";
    clear: both;
  }
}

.form-container .checkbox {
  margin-bottom: 5px;
  label {
    font-size: 0.85em;
  }
}

.form-horizontal {
  .actions {
    border-top: solid 1px #eaeaea;
    padding: 10px 10px 15px 155px;
    margin: 0 25px;
    a {
      font-size: 0.725em;
    }
  }
  label {
    float: left;
    width: 160px;
    padding-top: 7px;
    text-align: right;
    font-size: 0.85em;
  }
  .select-box {
    width: 300px;
  }
  .controls {
    margin-left: 180px;
    line-height: 32px;
    label {
      float: none;
      width: auto;
      padding-top: 0;
      text-align: left;
    }
  }
  .control-group, .meta_list .meta {
    clear: both;
    margin-bottom: 10px;
  }
}

.form-container-box {
  border: solid 1px #eaeaea;
  margin: 0 auto;
  width: 700px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  .header {
    background-color: #f7f7f7;
    padding: 10px 15px;
    margin-bottom: 30px;
    h1 {
      margin: 0;
      line-height: 1.2em;
    }
  }
}

body.item-post .select-box {
  margin-bottom: 10px;
}

#item-post select {
  width: 300px;
}

.form-container .photos input {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.photos_div {
  margin-bottom: 20px;
}

.form-container .controls #photos a {
  font-size: 12px !important;
}

button {
  background-color: false;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: -moz-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: -ms-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: -o-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: linear-gradient(top, #f0f0f0, #c9c9c9);
  border: solid 1px #cacaca;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  color: #5f5f5f !important;
  line-height: 43px;
  text-decoration: none;
  padding: 0 15px;
  box-shadow: inset 0 1px 0 0 #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.ui-drop-files {
  box-shadow: none;
  border: 4px dashed rgba(0, 0, 0, 0.2);
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
}

.bordered-box {
  border: solid 1px #eaeaea;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  font-size: 0.75em;
  h2 {
    font-size: 1.2em;
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
}

.form-container .photos {
  input {
    width: 100%;
  }
  img {
    width: 120px;
  }
}

.photos_div a {
  display: block;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #35C3D9;
}

.hover .arrow-up {
  border-bottom-color: white;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #35C3D9;
}

.hover .arrow-down {
  border-top-color: white;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #35C3D9;
}

.hover .arrow-left {
  border-right-color: white;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #35C3D9;
}

.hover .arrow-right {
  border-left-color: white;
}

.paginate {
  padding: 25px;
  text-align: center;
  clear: both;
  li {
    display: inline;
    list-style-type: none;
  }
  a, span {
    text-decoration: none;
    margin: 0 1px;
    padding: 5px 10px;
    border: 1px solid #EEE;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  a {
    &.previous {
      margin-right: 15px;
    }
    &.next {
      margin-left: 15px;
    }
  }
  strong {
    border: 1px solid #EEE;
    color: #F30;
    margin: 0 1px;
    padding: 5px 10px;
  }
  em {
    border: 1px solid #EEE;
    color: #AAA;
    font-style: normal;
    margin: 0 1px;
    padding: 5px 10px;
    text-decoration: none;
    &.previous {
      margin-right: 15px;
    }
    &.next {
      margin-left: 15px;
    }
  }
}

.searchPaginationSelected, .paginate a:hover {
  font-weight: bold;
  background-color: #35C3D9;
  color: white;
}

.see_by {
  float: right;
  border: solid 1px #D1D1D1;
  background-color: #F7F7F7;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  height: 28px;
  outline: 0;
  padding: 5px 6px;
  display: block;
  margin-right: 10px;
  position: relative;
  span {
    float: left;
  }
  label {
    float: right;
    margin: 0;
    padding: 0 18px 0 5px;
    color: #1b7e8d;
  }
  ul {
    position: absolute;
    right: -1px;
    margin: 22px 0 0;
    padding: 8px 10px;
    list-style: none;
    text-align: right;
    background-color: #35C3D9;
    border: solid 1px #23a4b8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none;
    a {
      font-size: 1em;
      font-weight: 500;
      color: #fff;
    }
  }
  .arrow-up, .arrow-down, .arrow-right, .arrow-left {
    position: absolute;
    right: 6px;
    top: 11px;
  }
}

.full_see_by {
  width: 100%;
  height: 30px;
  display: block;
  float: none;
  text-align: left;

  label {
    float: none;
  }

  ul {
    padding: 8px 0px;
    width: 100%;
    margin-top: 5px;
    text-align: left;
    z-index: 99;

    li {
      padding: 0 10px;
      a {
        display: block;
      }
    }
  }
}

.arrow-envelope {
  position: absolute;
  right: -1px;
  top: -1px;
}

.hover {
  .arrow-envelope {
    background-color: #35C3D9;
    border: solid 1px #23a4b8;
    width: 21px;
    height: 28px;
    border-bottom: none;
    z-index: 3;
  }
  ul {
    display: block;
  }
}

.wrapper-flash {
  font-weight: bold;
}

.flashmessage {
  font-size: 14px;
  padding: 15px 0;
  width: 100%;
  top: 10px;
  z-index: 999;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.flashmessage-warning, .help-box {
  background-color: #d0a52a;
  border: solid 1px #93741e;
}

.flashmessage-error {
  background-color: #c44e20;
  border: solid 1px #873616;
}

.flashmessage-ok {
  background-color: #839b44;
  border: solid 1px #4f5e29;
}

.flashmessage-info {
  background-color: #30a0ef;
  border: solid 1px #2477b2;
}

.help-box {
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  margin: 10px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.flashmessage .ico-close {
  position: absolute;
  top: 14px;
  right: 17px;
  float: right;
  font-size: 18px;
  line-height: 18px;
  color: white;
  text-shadow: none;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.flashmessage-error .close {
  color: #B94A48;
}

.flashmessage-warning .close {
  color: #C09853;
}

.flashmessage-success .close, .flashmessage-information .close {
  color: #3A87AD;
}

#error_list, .error_list {
  background-color: #F2DEDE;
  border: solid 2px #EED3D7;
  color: #B94A48;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  list-style: none;
  display: none;
  margin: 0 10px 20px;
}

#error_list li, .error_list li {
  list-style: none;
  padding: 2px 0 2px 18px;
}

#error_list li label, .error_list li label {
  margin-top: 0;
  float: none;
  width: auto;
}

.user-card {
  background-color: #f7f7f7;
  position: relative;
  padding-left: 120px;
  height: 120px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 25px;
  ul {
    padding: 15px;
    margin: 0;
    list-style: none;
  }
  .name {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  .website, .location, .adress {
    font-size: 0.725em;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 120px;
  }
}

@font-face {
  font-family: "Osclass";
  font-weight: normal;
  src: url("../fonts/osclass-regular.woff");
}


@font-face {
  font-family: "Osclass";
  font-weight: 100;
  src: url("../fonts/osclass-extra-light.woff");
}


@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#untitledregular") format("svg");
  font-weight: normal;
  font-style: normal;
}


html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
  line-height: 1.125em;
  font-family: "Helvetica Neue",  "HelveticaNeue",  Helvetica,  Arial,  Verdana,  sans-serif;
  color: #404040;
}

.icons {
  font-size: 32px;
  line-height: 32px;
  :after {
    display: inline-block;
    font-family: "icons";
  }
}

.ico-search:after {
  content: "s";
}

.ico-menu:after {
  content: "m";
}

.ico-grid:after {
  content: "g";
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.wrapper {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

#responsive-trigger {
  display: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: "Osclass";
  color: #666;
  letter-spacing: -0.03em;
  line-height: 1em;
  margin-top: 0;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.15em;
}

.clear {
  clear: both;
}

body {
  &.search #right-sidebar, &.user #right-sidebar {
    float: left;
    width: 210px;
  }
  &.search #main, &.user #main {
    float: right;
    width: 728px;
  }
}

.resp-toogle {
  display: none;
}

.title-has-actions {
  border-bottom: solid 1px #eaeaea;
  margin-bottom: 10px;
  h1, h2, h3 {
    float: left;
    margin-bottom: 0;
  }
  a {
    float: left;
    margin-left: 10px;
    font-size: 0.825em;
    line-height: 2em;
  }
}

.flashmessage-404 {
  background-color: #FCF8E3;
  border: solid 1px #FBEED5;
  color: #C09853;
  border-radius: 5px;
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px 15px;
  margin-top: 25px;
  ul {
    list-style: disc;
    padding: 10px 0px 10px 25px;
  }
}

body.not-found {
  .categories {
    h2, h3 {
      float: left;
      width: 25%;
      font-size: 13px;
      font-weight: normal;
      margin: 3px 0;
    }
    margin-top: 10px;
  }
  fieldset.main {
    padding: 10px 0;
  }
  #uniform-sCategory {
    display: none;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #query {
    background-color: #fff;
    border: solid 1px #bfbfbf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #dfd8d8;
    width: 280px;
    padding: 0 10px;
    height: 34px;
    line-height: 30px;
    font-size: 1em;
  }
}

.ads_300, .ads_728, .ads_468 {
  background-color: #FDF6E5;
  display: block;
  margin: 15px 0;
}

.ads_300 {
  width: 300px;
  min-height: 250px;
}

.ads_728 {
  width: 728px;
  min-height: 90px;
}

.ads_468 {
  width: 468px;
  min-height: 60px;
}

#footer {
  clear: both;
  margin-top: 50px;
  padding-bottom: 30px;
  border-top: solid 1px #eaeaea;
  padding-top: 15px;
  font-size: 0.725em;
  text-align: center;
  // ul {
  //   float: right;
  // }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    display: inline;
    margin-left: 10px;
  }
}

.footer-links, #footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
}

.footer-links li {
  float: left;
  width: 31%;
  padding-right: 2%;
  margin-bottom: 5px;
  font-size: 0.725em;
}

#footer .resp-toogle .publish {
  padding: 0;
  margin: 15px 0;
  display: block;
  a {
    background-color: #d94b35;
    background-color: #d94b35;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d94b35), color-stop(100%, #be2e18));
    background-image: -webkit-linear-gradient(top, #d94b35, #be2e18);
    background-image: -moz-linear-gradient(top, #d94b35, #be2e18);
    background-image: -ms-linear-gradient(top, #d94b35, #be2e18);
    background-image: -o-linear-gradient(top, #d94b35, #be2e18);
    background-image: linear-gradient(top, #d94b35, #be2e18);
    border: solid 1px #a3301f;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #edaba0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-size: 1.2em;
    padding: 0;
  }
}

#header {
  background-color: #35C3D9;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 25px;
  .wrapper {
    position: relative;
  }
  .ads_header {
    width: 728px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px 0px;
  }
  #logo {
    color: #fff;
    font-family: "Osclass";
    border: none;
    font-size: 2.7em;
    line-height: 1.5em;
    padding-top: 20px;
    padding-bottom: 10px;
    a {
      font-size: 1.5em;
      line-height: 0.8em;
      font-weight: bold;
      text-decoration: none;
      color: #fff;
    }
  }
  .publish a {
    background-color: #ce3d27;
    background-color: #ce3d27;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ce3d27), color-stop(100%, #a72915));
    background-image: -webkit-linear-gradient(top, #ce3d27, #a72915);
    background-image: -moz-linear-gradient(top, #ce3d27, #a72915);
    background-image: -ms-linear-gradient(top, #ce3d27, #a72915);
    background-image: -o-linear-gradient(top, #ce3d27, #a72915);
    background-image: linear-gradient(top, #ce3d27, #a72915);
    border: solid 1px #8d2a1b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #e9988b;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  }
  #logo span {
    color: #fff;
    font-family: "Osclass";
    font-weight: 100;
    text-decoration: none;
    border: none;
    font-size: 0.8em;
    line-height: 1em;
    display: block;
  }
}

.main-search {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: -moz-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: -ms-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: -o-linear-gradient(top, #f0f0f0, #c9c9c9);
  background-image: linear-gradient(top, #f0f0f0, #c9c9c9);
  width: 966px;
  padding: 6px;
  height: 56px;
  border: solid 1px #989393;
  margin: 0 auto;
  box-shadow: inset 0px 1px 1px 0px #fff, 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  .has-placeholder {
    float: none;
  }
  input {
    background-color: #f6f6f6;
    border: solid 1px #bfbfbf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #d6cece;
    height: 43px;
    width: 100%;
  }
  .selector {
    padding-left: 42px;
    padding-right: 12px;
  }
  .reset-padding {
    padding-left: 0px;
  }
  .ui-button {
    background-color: #35C3D9;
    background-color: #35C3D9;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #35C3D9), color-stop(100%, #18a7be));
    background-image: -webkit-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -moz-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -ms-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -o-linear-gradient(top, #35C3D9, #18a7be);
    background-image: linear-gradient(top, #35C3D9, #18a7be);
    border: solid 1px #1f91a3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #a0e3ed;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    height: 43px;
    min-width: 100px;
  }
  .cell {
    display: table-cell;
    width: 100%;
    vertical-align: top;
  }
}

#header .nav {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    float: left;
    position: relative;
    &.search, &.cat {
      display: none;
    }
    a, span {
      color: white;
      font-size: 0.875em;
    }
    color: white;
    a {
      margin-left: 10px;
    }
    &.publish {
      clear: both;
      float: right;
      margin-top: 10px;
    }
  }
}

.main-search {
  .select-box {
    .select-box-label {
      line-height: 43px;
    }
    select {
      width: auto;
      height: 42px;
    }
  }
  .select-box-icon {
    top: 0px;
  }
}

.wrapper-flash {
  margin-bottom: 35px;
}

div.breadcrumb {
  line-height: 1.05em;
  font-size: 0.75em;
  height: auto;
  margin: 0;
  width: auto;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}

ul.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    padding: 0 2px;
    font-weight: normal;
  }
}

.r-list {
  display: none;
  margin: 0px 40px 0 0;
  padding: 0;
  list-style: none;
}

.latest_ads {
  padding-top: 25px;
  h1 {
    float: left;
  }
  .actions {
    float: right;
    margin-top: 5px;
  }
}

body.home {
  .r-list {
    display: block;
  }
  #main {
    width: 640px;
    float: left;
    margin: -20px 40px 0 0;
  }
}

.tbl {
  display: block;
  width: 100%;
}

div.first_cel ul {
  margin: 0;
}

.cell_3 {
  width: 33%;
  float: left;
  ul {
    margin: 0;
    margin-left: 20px;
  }
}

.r-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .r-list li li {
    float: none;
    width: 100%;
  }
  > li:nth-child(4n), .clear {
    clear: both;
  }
}

ul.r-list li {
  h1 {
    margin: 25px 0 10px 0;
    padding: 0;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      font-size: 1em;
    }
    span {
      font-weight: normal;
    }
  }
  a, span {
    text-decoration: none;
    font-size: 0.8125em;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.list-header {
  margin-bottom: 15px;
  z-index: 3;
  position: relative;
}

.listing-card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

.see_more_link {
  clear: both;
}

.counter-search {
  float: left;
  line-height: 32px;
}

#main h5 {
  margin-bottom: 10px;
}

#related-searches {
  padding-top: 25px;
  h5 {
    margin-bottom: 10px;
    font-size: 1em;
  }
}

.listing-card {
  clear: both;
  padding: 10px 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #ECECEC;
  position: relative;
  width: 100%;
  display: table;
  .listing-basicinfo {
    display: block;
    vertical-align: top;
    width: auto;
  }
  .listing-attributes {
    display: block;
    vertical-align: top;
    width: auto;
    width: auto;
  }
  .currency-value {
    white-space: nowrap;
    font-weight: bold;
    color: #78c042;
  }
  .listing-data {
    display: table-row;
    width: 100%;
  }
  .listing-detail {
    width: auto;
    margin-left: 105px;
  }
  .listing-cell {
    display: table;
    width: 100%;
  }
  .listing-thumb {
    float: left;
    img {
      height: 85px;
      width: 95px;
    }
  }
  .listing-attributes {
    font-size: 0.78em;
    color: #777;
    padding: 4px 0 8px;
    line-height: 1em;
    a {
      color: #777;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.premium-list li.listing-card, li.listing-card.premium {
  background-color: #FCFCD7;
}

.listing-grid {
  .last {
    margin-right: 0px;
  }
  .listing-card {
    float: left;
    width: 190px;
    padding: 6px;
    background-color: #FFF;
    border: 1px solid #ECECEC;
    margin: 0 9px 9px 0;
    position: relative;
    display: block;
    clear: none;
    .listing-attributes .location {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        display: inline;
      }
    }
    img {
      width: 100%;
      height: auto;
      float: none;
    }
  }
  .currency-value {
    display: block;
  }
  .listing-detail {
    margin-left: 0;
  }
  .listing-basicinfo, .listing-data {
    width: 100%;
    display: block;
  }
  .listing-thumb {
    width: 100%;
  }
  .listing-cell {
    display: block;
  }
  .listing-basicinfo {
    p {
      display: none;
    }
    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      display: inline-block;
    }
  }
  .g-hide {
    display: none;
  }
}

body {
  &.search .listing-grid {
    .last {
      margin-right: 0px;
    }
    .listing-card {
      width: 161px;
    }
  }
  &.home .listing-grid .first {
    clear: both;
  }
}

#right-sidebar {
  width: 300px;
  float: right;
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  h3 {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1em;
    font-size: 1em;
  }
  fieldset {
    padding: 14px 0 16px;
    border-bottom: solid 1px #eaeaea;
    font-size: 0.8125em;
    line-height: 0.8125em;
  }
  input {
    vertical-align: bottom;
  }
  .input-text, input[type="text"] {
    background-color: #fff;
    border: solid 1px #bfbfbf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0 1px 0 0 #E0E0E0;
    display: inline-block;
    vertical-align: middle;
    color: #646464;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #dfd8d8;
    width: 100%;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul.category {
    padding: 0;
    margin: 0;
    list-style: none;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}

ul {
  &.sidebar-list, &.user_menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

body.user #right-sidebar {
  border-right: solid 1px #eaeaea;
}

#right-sidebar ul.category li {
  padding: 3px 0;
  line-height: 1.15em;
}

ul {
  &.sidebar-list li {
    padding: 3px 0;
    line-height: 1.15em;
  }
  &.user_menu li {
    padding: 3px 0;
    line-height: 1.15em;
    padding: 0 0 12px;
    font-size: 0.8125em;
    line-height: 0.8125em;
  }
}

#right-sidebar {
  ul.category ul {
    padding-left: 15px;
  }
  .show-sub {
    a {
      font-weight: bold;
    }
    li a {
      font-weight: normal;
    }
  }
  .price-slice input {
    width: 65px;
    padding: 0 5px;
    margin-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .two_input input {
    width: 65px;
    padding: 0 5px;
    margin-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70px;
  }
  .price-slice span {
    margin-right: 0px;
  }
  button {
    background-color: #35C3D9;
    background-color: #35C3D9;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #35C3D9), color-stop(100%, #18a7be));
    background-image: -webkit-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -moz-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -ms-linear-gradient(top, #35C3D9, #18a7be);
    background-image: -o-linear-gradient(top, #35C3D9, #18a7be);
    background-image: linear-gradient(top, #35C3D9, #18a7be);
    border: solid 1px #1f91a3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    line-height: 43px;
    text-decoration: none;
    padding: 0 15px;
    box-shadow: inset 0 1px 0 0 #a0e3ed;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    line-height: 30px;
    font-size: 0.85em;
  }
  .actions {
    padding: 20px 0;
  }
  .plugin-hooks {
    h6 {
      margin: 0;
      margin-bottom: 10px;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      font-family: "Osclass";
      color: #666;
    }
    .row {
      margin-bottom: 10px;
    }
  }
  .select-box {
    width: 100%;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.widget-box {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  h3 {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    a {
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      font-weight: normal;
      font-size: 0.8125em;
      display: block;
      padding: 4px 5px;
      border-radius: 0px;
      margin: -1px 0;
      position: relative;
      border-bottom: solid 1px #eaeaea;
      border-top: solid 1px #eaeaea;
    }
    li a:hover {
      background-color: #8bdce9;
      border-color: #f7f7f7;
      color: #fff;
      z-index: 2;
      border-radius: 3px;
    }
  }
}

body {
  &.item #right-sidebar .widget-box, &.user-public-profile #right-sidebar .widget-box {
    padding: 20px;
  }
  &.item #right-sidebar .form-container .controls {
    input, textarea {
      width: 238px;
    }
  }
  &.user-public-profile #right-sidebar .form-container .controls {
    input, textarea {
      width: 238px;
    }
  }
  &.item #right-sidebar .form-container label, &.user-public-profile #right-sidebar .form-container label {
    font-size: 0.75em;
  }
  &.item #contact h2, &.user-public-profile #contact h2 {
    margin-top: 0px;
  }
  &.item #main, &.user-public-profile #main {
    width: 640px;
    float: left;
  }
}

.item-photos {
  .main-photo {
    width: 550px;
    float: left;
  }
  .thumbs {
    float: right;
    width: 79px;
    img {
      margin-bottom: 12px;
      border: solid 2px #eaeaea;
    }
  }
}

.item-header {
  margin-top: -10px;
  background: #f7f7f7;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 0.875em;
  margin-bottom: 15px;
  font-size: 0.75em;
  #type_dates {
    float: right;
    em {
      font-style: normal;
    }
  }
}

#item_location {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
  }
}

#description {
  clear: both;
  padding-top: 5px;
}

div.mark_as {
  height: 32px;
  width: 100%;
  border: none;
  background: transparent;
  margin-bottom: 15px;
}

.mark_as {
  a {
    width: 100%;
    height: auto;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
  }
  .select-box-label {
    border: solid 1px #f2f2f2;
    position: relative;
    float: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #f7f7f7;
  }
}

.similar_ads h2 {
  margin-top: 35px;
}

.admin-options {
  font-size: 0.725em;
  a {
    margin: 0 5px;
  }
}

#comments {
  margin-top: 25px;
}

body.item h1 .price {
  font-weight: normal;
  font-size: 24px;
  float: right;
  background-color: #FCF8E3;
  padding: 5px 10px;
}

.item #comments {
  h3 {
    font-size: 1em;
  }
  clear: both;
  float: left;
  margin-bottom: 35px;
  width: 100%;
  .comments_list {
    border-bottom: 1px dotted #DDD;
    margin-bottom: 20px;
  }
  .comment {
    background: url(../images/comments_quotes.gif) no-repeat 10px 0;
    margin-bottom: 15px;
    padding: 7px 0 0 60px;
    h3 {
      color: #666;
      margin-bottom: 5px;
      em {
        color: #888;
        font-size: 12px;
        font-weight: normal;
      }
    }
    p {
      color: #878787;
      font-style: italic;
      line-height: 18px;
    }
  }
  .pagination {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 15px;
    a {
      border: 1px dotted #AAA;
      padding: 5px 8px;
      &.searchPaginationSelected {
        background-color: #f7f7f7;
      }
      &.searchPaginationNext {
        border: 0px;
        text-decoration: none;
      }
    }
  }
  a.searchPaginationPrev, .pagination a.searchPaginationFirst, a.searchPaginationLast {
    border: 0px;
    text-decoration: none;
  }
  .pagination a.searchPaginationNext:hover, a.searchPaginationPrev:hover, .pagination a.searchPaginationFirst:hover {
    background-color: #ffffff;
  }
  a {
    &.searchPaginationLast:hover {
      background-color: #ffffff;
    }
    &:hover {
      background-color: #f7f7f7;
    }
  }
}
#sflinks {
  padding-left: 0;
}

#left-sidebar li, #sflinks li {
  margin-bottom: 10px;
}


@media only screen and (max-width: 740px) {

  #left-sidebar, .location {
    li {
      text-align: center;
    }
  }

  .main-search {
    display: block !important;
    padding: 20px !important;
    position: static !important;
    height: 100% !important;

    .cell {
      padding: 0 !important;
      display: block !important;
      margin-bottom: 10px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .see_by {
    float: none;
    display: block;
    margin: 10px 0;
  }

  .wrapper, #footer {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
  }
  .has-placeholder {
    float: none;
  }
  div#main {
    width: auto;
    float: none;
    clear: both;
  }
  body {
    &.home #main, &.search #main, &.user #main, &.item #main, &.user-public-profile #main {
      width: auto;
      float: none;
      clear: both;
    }
  }
  #responsive-trigger {
    display: block;
  }
  #right-sidebar {
    width: 100%;
  }
  #header {
    padding-bottom: 0px;
  }
  #footer {
    text-align: center;
    ul {
      float: none;
      font-size: 1.15em;
      margin-bottom: 15px;
    }
  }
  .flashmessage {
    padding: 15px 40px 15px 15px;
    width: auto;
  }
  .contact_button a {
    margin-bottom: 10px;
  }
  div {
    &#recaptcha_widget {
      width: 100% !important;
    }
    &#recaptcha_image {
      width: 100% !important;
      height: auto !important;
      > img {
        width: 100% !important;
      }
    }
  }
  #header {
    height: auto;
    margin-bottom: 20px;
    #logo {
      font-size: 1.7em;
      letter-spacing: -0.07em;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 10px;
      span {
        display: none;
      }
    }
    .wrapper {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      position: relative;
    }
  }
  .main-search {
    top: 100%;
    margin-left: 0;
    left: 0;
    position: absolute;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-width: 0 0 1px 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none;
    position: absolute;
    margin-top: 0;
    .cell {
      display: table-cell;
      width: 100%;
      padding-left: 11px;
      vertical-align: top;
      &:last-child {
        padding-left: 42px;
        padding-right: 11px;
      }
    }
    input {
      width: 100%;
    }
    .selector {
      display: none;
    }
    .reset-padding {
      padding-left: 0px;
    }
  }
  #header .nav {
    top: 0;
    height: 100%;
    vertical-align: middle;
    li {
      height: 100%;
      a {
        height: 100%;
        padding: 0 15px;
        background-color: #23a4b8;
        color: #000;
        display: table;
        border-left: solid 1px #1b7e8d;
        font-size: 30px;
        margin-left: 0;
      }
      &.active a, a:hover {
        background-color: #1b7e8d;
        color: #fff;
      }
      .icons:after {
        display: table-cell;
        vertical-align: middle;
      }
      display: none;
      &.search, &.cat {
        display: block;
      }
    }
  }
  body.item {
    #right-sidebar {
      .widget-box {
        padding: 20px;
      }
      .form-container {
        .controls {
          input, textarea {
            width: 238px;
          }
        }
        label {
          font-size: 0.75em;
        }
      }
    }
    #contact h2 {
      margin-top: 0px;
    }
  }
  .alert_form {
    background-color: transparent;
  }
  #alert_email {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-container .controls input, #right-sidebar .input-text {
    height: 32px;
  }
  input[type="checkbox"] {
    width: auto;
    height: auto;
  }
  textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  body.item #right-sidebar .form-container .controls {
    input, textarea {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .form-container .controls input, #right-sidebar .input-text, button, .ui-button {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul.r-list {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    background-color: transparent;
    text-shadow: none;
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    li {
      position: relative;
      margin-bottom: 5px;
      margin-right: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
    }
    > li {
      &:nth-child(2n) {
        padding-left: 5px;
      }
      &:nth-child(odd) {
        clear: both;
      }
    }
  }
  .r-list > li {
    &.clear, &:nth-child(4n) {
      clear: none;
    }
  }
  ul.r-list li {
    a.sub-category {
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      font-weight: bold;
      display: inline-block;
      padding: 10px;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
      font-size: 0.8em;
      border-color: #eaeaea;
      color: #069;
      background-color: #f7f7f7;
      text-shadow: 0 1px 1px #fff;
    }
    h1 {
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      font-weight: bold;
      display: inline-block;
      padding: 10px;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
      border-color: #eaeaea;
      color: #069;
      background-color: #f7f7f7;
      text-shadow: 0 1px 1px #fff;
      margin: 0;
    }
    span {
      display: none;
    }
    ul {
      -webkit-transition: opacity 1s ease-out;
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
    &.active {
      h1, a {
        background-color: #35C3D9;
        color: #000;
        border-color: #23a4b8;
        text-shadow: 0 1px 1px #23a4b8;
      }
    }
    span.collapse {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      display: inline-block;
    }
    &.active ul {
      opacity: 1;
      height: auto;
      margin: 0;
      padding: 5px 0 0 0;
      margin-bottom: 5px;
      li {
        padding: 0;
        a {
          border-color: #eaeaea;
          color: #069;
          background-color: #f7f7f7;
          text-shadow: 0 1px 1px #fff;
          font-size: 0.82em;
        }
      }
    }
    ul li {
      float: none;
      width: 100%;
    }
  }
  div.cell_3:nth-child(2n) {
    margin: 0 1%;
    width: 31%;
  }
  .select-box {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    select {
      width: 100%;
    }
  }
  body {
    &.item-post #footer .resp-toogle {
      display: none;
    }
    &.display-cat .r-list {
      display: block;
    }
    &.display-search .main-search, &.home .main-search {
      display: table;
    }
    &.display-search #header, &.home #header {
      margin-bottom: 40px;
    }
  }
  .resp-toogle, body.display-filters div#right-sidebar {
    display: block;
  }
  .show-filters-btn {
    display: inline-block;
    border: solid 1px #d1d1d1;
    background-color: #f7f7f7;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em;
    line-height: 16px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    padding: 5px 6px;
    text-decoration: none;
    color: #9e9e9e;
  }
  .form-container-box {
    width: auto;
  }
  .form-container .checkbox {
    margin-bottom: 15px;
    input {
      width: auto;
    }
  }
  .form-horizontal {
    .actions {
      margin: 0;
      padding-left: 0px;
      padding-right: 0px;
    }
    label {
      float: none;
      width: 100%;
      font-size: 0.85em;
    }
    .controls {
      width: auto;
      margin-left: 0;
    }
  }
  body.item-post .select-box {
    margin-bottom: 10px;
  }
  #item-post select, .form-horizontal .select-box {
    width: 100%;
  }
  .listing-grid .listing-card, body.search .listing-grid .listing-card {
    width: 32%;
    padding: 0%;
    border: 0;
    margin: 1%;
  }
  .listing-grid {
    .listing-detail {
      border: solid 1px #ECECEC;
    }
    .listing-thumb {
      float: none;
      img {
        height: auto;
        width: 92%;
        margin: 4%;
        float: left;
      }
    }
    .listing-cell {
      display: block;
      width: 92%;
      padding: 4%;
    }
    .listing-basicinfo {
      p {
        display: none;
      }
      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
      }
    }
    .listing-card:nth-child(3n) {
      margin-right: 0%;
    }
  }
  body.search .listing-card:nth-child(3n) {
    margin-right: 0%;
  }
  .listing-grid .listing-card:nth-child(3n+1) {
    margin-left: 0%;
    clear: both;
  }
  body {
    &.search .listing-grid .listing-card:nth-child(3n+1) {
      margin-left: 0%;
      clear: both;
    }
    &.not-found .categories {
      h2, h3 {
        float: none;
        width: 100%;
      }
    }
    &.item #right-sidebar, &.user-public-profile #right-sidebar {
      margin-top: 20px;
    }
  }
  .item-photos {
    .thumbs {
      float: none;
      margin-top: 10px;
      width: 100%;
      clear: both;
    }
    .main-photo {
      width: 100%;
      float: none;
      img {
        width: 100%;
      }
    }
  }
  body {
    &.search #right-sidebar, &.user #right-sidebar {
      width: auto;
      float: none;
      margin-bottom: 40px;
    }
    &.search #content {
      position: relative;
      padding-top: 150px;
    }
    &.user #right-sidebar {
      margin-top: 15px;
    }
    &.search {
      .list-header {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 80px;
      }
      #right-sidebar {
        display: none;
        background-color: #f7f7f7;
        border: solid 1px #eaeaea;
        padding: 10px 15px 5px;
        width: auto;
        float: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    &.user #right-sidebar {
      display: none;
      background-color: #f7f7f7;
      border: solid 1px #eaeaea;
      padding: 10px 15px 5px;
      width: auto;
      float: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &.search #content h1 {
      display: block;
      margin: 0;
      font-size: 1.5em;
    }
  }
  .resp-wrapper {
    padding: 0 10px;
  }
  body {
    &.search .list-header .actions {
      padding: 10px 0;
      clear: both;
    }
    &.display-filters .show-filters-btn {
      background-color: #35C3D9;
      border-color: #23a4b8;
      color: white;
    }
  }
  #header .ads_header, .ads_300, .ads_728, .ads_468 {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  body {
    .item-header #type_dates {
      float: none;
    }
    div.cell_3 {
      margin: 0;
      width: 100%;
      &:nth-child(2n) {
        margin: 0;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  ul.r-list {
    li {
      float: none;
      width: 100%;
    }
    > li:nth-child(2n) {
      padding-left: 0px;
    }
  }
  body.search ul.r-list > li:nth-child(2n) {
    padding-left: 0px;
  }
  .listing-grid .listing-card, body.search .listing-grid .listing-card {
    width: 49%;
    clear: none;
  }
  .listing-grid .listing-card:nth-child(2n), body.search .listing-grid .listing-card:nth-child(2n) {
    margin-right: 0%;
    margin-left: 1%;
    clear: none;
  }
  .listing-grid .listing-card:nth-child(2n+1) {
    margin-left: 0%;
    margin-right: 1%;
    clear: both !important;
  }
  body {
    &.search .listing-grid .listing-card:nth-child(2n+1) {
      margin-left: 0%;
      margin-right: 1%;
      clear: both !important;
    }
    &.home .listing-grid .first {
      clear: none;
    }
  }
}

#plugin-hook .row {
  clear: both;
  margin-bottom: 10px;
  label {
    margin-right: 20px;
  }
}

/*# sourceMappingURL=main.css.map */

/* Make "advanced" recaptcha plugin "responsive" */

#rc-imageselect, .g-recaptcha {
  transform: scale(0.87);
  -webkit-transform: scale(0.87);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

.item-post .g-recaptcha {
  margin: 0;
}

.g-recaptcha {
  max-width: 265px;
  margin:  0 auto;
}

.checkbox-list {
  list-style: none;
  padding-left: 0;
}
#bitnami-banner {
  display: none !important;
}
.qq-upload-button {
  margin: 0 auto;
}